<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.khpdgl.mapper.ManagementMapper" >



	<select id="selectCheckAll" resultType="com.cist.khpdgl.model.Qw_Appraise_Reculations"
		parameterType="java.util.Map">
		
		select q.pk_id,q.topic_name,q.default_value,q1.regulations_name,q1.assessment_num,q1.assessment_rules ,q1.enabled_state,
q1.create_person_id,q1.create_time
from qw_appraise_topic q 
left join qw_appraise_regulations q1 on q1.FK_APPRAISE_TOPIC_ID = q.pk_id
		
		<where>
			<if test="topic_name != null and topic_name !=''">
				and q.topic_name like '%'||#{topic_name}||'%'
			</if>

			<if test="regulations_name != null and regulations_name !=''">
				and q1.regulations_name like '%'||#{regulations_name}||'%'
			</if>	
			
			<if test="enabled_state != null and enabled_state !=''">
				and q1.enabled_state = #{enabled_state}
			</if>	
			
		</where>
		
	</select>



	<select id="selectTopic" resultType="com.cist.khpdgl.model.Qw_AppraiseTopic" >
		
		select * from qw_appraise_topic t 
		
		
	</select>


<select id="selectTopicList" resultType="com.cist.khpdgl.model.Qw_AppraiseTopic"  parameterType="java.lang.Integer">
		
		select * from qw_appraise_topic   where pk_id=#{pk_id}
		
		
	</select>

<select id="selectTopicLists" resultType="com.cist.khpdgl.model.Qw_AppraiseTopic"  parameterType="java.lang.Integer">
		select  t.fk_topic_id,t1.pk_id,t1.topic_name,t.metrics_num from qw_evaluate_metrics t left join qw_appraise_topic t1 
		on t.fk_topic_id=t1.pk_id
		  where t.fk_relation_id=#{fk_relation_id}
		
		
	</select>

   <select id="selectSysFrmCode" resultType="com.cist.khpdgl.model.Sys_frm_code" parameterType="java.lang.String">
    select * from SYS_FRM_CODE
    where
    FCT_CODE=#{fct_code}
  </select>



   <select id="selectReculations" resultType="com.cist.khpdgl.model.Qw_Appraise_Reculations" parameterType="java.lang.Integer">
    select * from qw_appraise_regulations
    where
    fk_appraise_topic_id=#{fk_appraise_topic_id}
  </select>

	<update id="updateCheck" parameterType="java.util.Map">
		update qw_appraise_regulations
		<set>
			<if test="regulations_name != null and regulations_name !=''">
				regulations_name = #{regulations_name},
			</if>
			<if test="assessment_rules != null and assessment_rules !=''">
				assessment_rules = #{assessment_rules},
			</if>
			<if test="assessment_num != null and assessment_num !=''">
				assessment_num = #{assessment_num},
			</if>
			<if test="topic_explain != null and topic_explain !=''">
				topic_explain = #{topic_explain},
			</if>
			
		</set>
		where fk_appraise_topic_id = #{fk_appraise_topic_id,jdbcType=DECIMAL}
	</update>
	
		<update id="updateCheckTopic" parameterType="java.util.Map">
		update qw_appraise_topic
		<set>
			<if test="topic_name != null and topic_name !=''">
				topic_name = #{topic_name},
			</if>
			<if test="default_value != null and default_value !=''">
				default_value = #{default_value},
			</if>
			<if test="topic_explain != null and topic_explain !=''">
				topic_explain = #{topic_explain},
			</if>
			
			
		</set>
		where pk_id = #{pk_id,jdbcType=DECIMAL}
	</update>
	<!-- 条例 -->
	<insert id="insertCheck" parameterType="java.util.Map">
	
		insert into qw_appraise_regulations
		(
		pk_id,
		regulations_name,
		assessment_rules,
		assessment_num,
		topic_explain,
		enabled_state,
		create_person_id,
		fk_appraise_topic_id
		)
		values
		(
		cistsys.SEQ_TXZ_PERMIT.nextval,
		#{regulations_name},
		#{assessment_rules},
		#{assessment_num},
		#{topic_explain},
		#{enabled_state},
		#{create_person_id},
			#{fk_appraise_topic_id}
		
		)

	</insert>

<insert id="insertCheckTopic" parameterType="java.util.Map">
	<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="fk_appraise_topic_id">
        SELECT cistsys.SEQ_TXZ_PERMIT.nextval FROM DUAL
    </selectKey>
		insert into qw_appraise_topic
		(
		pk_id,
		fk_dept_id,
		topic_name,
		default_value,
		topic_explain,
		enabled_state,
		create_person_id
		)
		values
		(
		#{fk_appraise_topic_id},
		#{fk_dept_id},
		#{topic_name},
		#{default_value},
		#{topic_explain},
		#{enabled_state},
		#{create_person_id}
		)

	</insert>




	<delete id="deleteCheck" parameterType="java.util.Map">
		DELETE FROM
		qw_appraise_regulations
		WHERE fk_appraise_topic_id = #{fk_appraise_topic_id}

	</delete>

	<delete id="deleteCheckListAll" parameterType="java.util.Map">
	

		delete FROM qw_appraise_regulations
		WHERE pk_id in
		<foreach item="pk" collection="arrays" open="(" separator=","
			close=")">
			#{fk_appraise_topic_id}
		</foreach>

	</delete>

	<!-- 批量删除 -->
	<delete id="deleteCheckAll" parameterType="java.util.Map">
		delete FROM qw_appraise_topic
		WHERE pk_id in
		<foreach item="pk" collection="array" open="(" separator=","
			close=")">
			#{pk}
		</foreach>
	</delete>


</mapper>