<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.feedbackRes.mapper.FeedbackResMapper">

	<resultMap id="BaseResultMap"
		type="com.cist.feedback.model.QwCompanyAssessment">
		<result column="PK_ID" jdbcType="DECIMAL" property="pk_id" />
		<result column="FK_DEPT_ID" jdbcType="DECIMAL"
			property="fk_dept_id" />
		<result column="DATA_SOURCES_TYPE" jdbcType="CHAR"
			property="data_sources_type" />
		<result column="ASSESSMENT_TYPE" jdbcType="CHAR"
			property="assessment_type" />
		<result column="START_DATE" jdbcType="TIMESTAMP"
			property="start_date" />
		<result column="END_DATE" jdbcType="TIMESTAMP"
			property="end_date" />
		<result column="EXPLAIN" jdbcType="VARCHAR" property="explain" />
		<result column="INPUT_PERSON" jdbcType="DECIMAL"
			property="input_person" />
		<result column="INPUT_TIME" jdbcType="TIMESTAMP"
			property="input_time" />
		<result column="VERIFY_STATUS" jdbcType="CHAR"
			property="verify_status" />
		<result column="FK_VERIFY_PERSON_ID" jdbcType="DECIMAL"
			property="fk_verify_person_id" />
		<result column="VERIFY_TIME" jdbcType="TIMESTAMP"
			property="verify_time" />
		<result column="RECORD_INVALID_REASON" jdbcType="VARCHAR"
			property="record_invalid_reason" />
		<result column="VERIFY_NOT_PASS_REASON" jdbcType="VARCHAR"
			property="verify_not_pass_reason" />
		<collection property="pdlm"
			ofType="com.cist.feedback.model.QwCompanyAssessmentMetrics"
			javaType="java.util.List" select="selectPdlmList" column="pk_id">
		</collection>
		<collection property="pic"
			ofType="com.cist.feedback.model.QwAssessmentAttachment"
			javaType="java.util.List" select="selectPicList" column="pk_id">
		</collection>
	</resultMap>

	<resultMap id="FeedResultMap"
		type="com.cist.feedback.model.QWAppraiseFeedbackResponse">
		<result column="PK_ID" jdbcType="DECIMAL" property="pk_id" />
		<result column="FK_ASSESSMENT_ID" jdbcType="DECIMAL"
			property="fk_assessment_id" />
		<result column="ASSESSMENT_TYPE" jdbcType="CHAR"
			property="assessment_type" />
		<result column="EXPLAIN_TYPE" jdbcType="CHAR"
			property="explain_type" />
		<result column="EXPLAIN_CONTENT" jdbcType="VARCHAR"
			property="explain_content" />
		<result column="FK_USER_ID" jdbcType="DECIMAL"
			property="fk_user_id" />
		<result column="F_R_TIME" jdbcType="TIMESTAMP"
			property="f_r_time" />
		<collection property="pic"
			ofType="com.cist.feedback.model.QwAssessmentAttachment"
			javaType="java.util.List" select="selectResPic" column="pk_id">
		</collection>
	</resultMap>
	
		<!--根据回复id查询对应的附件列表 -->
	<select id="selectResPic"
		resultType="com.cist.feedback.model.QwAssessmentAttachment"
		parameterType="java.util.HashMap">
		select * from QW_ASSESSMENT_ATTACHMENT where
		FK_RELATION_ID=#{pk_id}
		and constraint='DWHF'
	</select>
	
		<!--根据勤务考核id更新栏目 -->
	<update id="updateMetrics"
		parameterType="java.util.HashMap">
		update QW_COMPANY_ASSESSMENT_METRICS set
		metrics_num=#{metrics_num}
		where
		pk_id=#{metrics_pk}
	</update>

	<!-- 查询数据 -->
	<select id="list"
		resultType="com.cist.feedback.model.QwCompanyAssessment"
		parameterType="java.util.HashMap">
		select *
		from VW_QW_COMPANY_METRICS t
		<where>
			<if test=" fk_dept_id != null and fk_dept_id !=''">
				and FK_DEPT_ID=#{fk_dept_id}
			</if>
			<if test=" assessment_type != null and assessment_type !=''">
				and assessment_type=#{assessment_type}
			</if>
			<if test=" input_time_start != null and input_time_start !=''">
				 <![CDATA[and input_time>=to_date(#{input_time_start},'yyyy-mm-dd HH24:mi:ss')]]>
			</if>
			<if test=" input_time_end != null and input_time_end !=''">
				 <![CDATA[and input_time<=to_date(#{input_time_end},'yyyy-mm-dd HH24:mi:ss')]]>
			</if>
			<if test=" hfzt !=null and hfzt !='' and hfzt=='1'.toString()">
				and explain_type like '%'||'2'||'%'
			</if>
			<if test=" hfzt !=null and hfzt !='' and hfzt=='0'.toString()">
				and (explain_type not like '%'||'2'||'%' or explain_type is null)
			</if>
			<if test=" pdlm !=null and pdlm !=''">
				and fk_topic_id=#{pdlm}
			</if>
			and verify_status='1'
			and explain_type like '%'||'1'||'%'
		</where>
	</select>
	
	<!--反馈信息保存附件 -->
	<insert id="savePic" parameterType="java.util.HashMap">
		insert into QW_ASSESSMENT_ATTACHMENT
		<trim prefix="(" suffixOverrides="," suffix=")">
			pk_id,
			fk_relation_id,
			attachment_name,
			attachment_suffix,
			attachment_size,
			attachment_source,
			fk_commit_person_id,
			constraint,
			commit_time
		</trim>

		select cistsys.SEQ_QW_ASSESSMENT_FFIX.nextval,cd.* from(
		<foreach item="item" index="index" collection="list"
			separator="union all">
			SELECT
			#{item.fk_relation_id},
			#{item.attachment_name},
			#{item.attachment_suffix},
			#{item.attachment_size},
			#{item.attachment_source},
			#{item.fk_commit_person_id},
			#{item.constraint},
			sysdate
			FROM DUAL
		</foreach>
		)cd
		
		</insert>
		
			<!--保存单位考核指标 -->
	<insert id="save" parameterType="java.util.HashMap">
<!-- 	 <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="pk">
          SELECT cistsys.SEQ_QW_FEEDBACK_RESPONSE.NEXTVAL from dual
      </selectKey> -->
      <selectKey keyProperty='id' resultType='int' order='AFTER'>
            SELECT
            (select pk_id FROM QW_APPRAISE_FEEDBACK_RESPONSE  WHERE
            FK_ASSESSMENT_ID=#{fk_assessment_id} and
		ASSESSMENT_TYPE=#{assessment_type} and
		EXPLAIN_TYPE=#{explain_type})id
            from DUAL
  </selectKey>
		MERGE INTO QW_APPRAISE_FEEDBACK_RESPONSE t
		USING (
		SELECT
		#{fk_assessment_id,jdbcType=DECIMAL} AS FK_ASSESSMENT_ID,
		#{assessment_type,jdbcType=CHAR} AS ASSESSMENT_TYPE,
		#{explain_type,jdbcType=CHAR} AS EXPLAIN_TYPE,
		#{explain_content,jdbcType=VARCHAR} AS EXPLAIN_CONTENT,
		#{fk_user_id,jdbcType=DECIMAL} AS FK_USER_ID,
		to_date(#{f_r_time},'yyyy-mm-dd HH24:mi:ss') AS F_R_TIME
		FROM DUAL
		) t1
		on(t1.FK_ASSESSMENT_ID = t.FK_ASSESSMENT_ID and
		t.ASSESSMENT_TYPE=t1.ASSESSMENT_TYPE and
		t.EXPLAIN_TYPE=t1.EXPLAIN_TYPE)
		WHEN MATCHED THEN
		UPDATE SET
		t.EXPLAIN_CONTENT=t1.EXPLAIN_CONTENT,
		t.FK_USER_ID=t1.FK_USER_ID,
		t.F_R_TIME=t1.F_R_TIME
		where t.FK_ASSESSMENT_ID=t1.FK_ASSESSMENT_ID and
		t.ASSESSMENT_TYPE=#{assessment_type} and
		t.EXPLAIN_TYPE=#{explain_type}
		WHEN NOT MATCHED THEN
		INSERT
		<trim prefix="(" suffixOverrides="," suffix=")">
			pk_id,
			<if test=" fk_assessment_id !=null and fk_assessment_id !='' ">
				fk_assessment_id,
			</if>
			<if test=" assessment_type !=null and assessment_type !='' ">
				assessment_type,
			</if>
			<if test=" explain_type !=null and explain_type !='' ">
				explain_type,
			</if>
			<if test=" explain_content !=null and explain_content !='' ">
				explain_content,
			</if>
			<if test=" fk_user_id !=null and fk_user_id !='' ">
				fk_user_id,
			</if>
			<if test=" f_r_time !=null and f_r_time !='' ">
				f_r_time,
			</if>
		</trim>

		<trim prefix="values(" suffixOverrides="," suffix=")">

			cistsys.SEQ_QW_FEEDBACK_RESPONSE.NEXTVAL,
			<if test=" fk_assessment_id !=null and fk_assessment_id !='' ">
				t1.FK_ASSESSMENT_ID,
			</if>
			<if test=" assessment_type !=null and assessment_type !='' ">
				t1.ASSESSMENT_TYPE,
			</if>
			<if test=" explain_type !=null and explain_type !='' ">
				t1.EXPLAIN_TYPE,
			</if>
			<if test=" explain_content !=null and explain_content !='' ">
				t1.EXPLAIN_CONTENT,
			</if>
			<if test=" fk_user_id !=null and fk_user_id !='' ">
				t1.FK_USER_ID,
			</if>
			<if test=" f_r_time !=null and f_r_time !='' ">
				t1.F_R_TIME,
			</if>
		</trim>
		</insert>
</mapper>