<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.earlywarning.mapper.EarlyWarningMapper" >


   <select id="earlyinfopageList" resultType="com.cist.earlywarning.model.WarningInfo" parameterType="java.util.HashMap">
  select c.* from (select t.*,y.tpzj,y.bkyy,to_char(t.gcsj,'yyyy-mm-dd HH24:mi:ss')as gcsj_name,
   to_char(t.yjsj,'yyyy-mm-dd HH24:mi:ss')as yjsj_name,l.device_name as sbmc,l.direction as xsfx,l.road_name,l.longitude as jd,l.latitude as wd
   from tbl_warning_vehicle t,tbl_control_vehicle y,JCSJ_DEVICE l
   where  t.hphm=y.hphm and t.hpzl = y.hpzl and t.yjsb = l.pk_id) c
    <where>
	   c.pk not in (select yjpk from tbl_issued_warning)
	</where>
   </select>
   
   <select id="earlyone" resultType="com.cist.earlywarning.model.WarningInfo">
       select j.*,k.road_name,k.longitude jd,k.latitude wd,to_char(j.gcsj,'yyyy-mm-dd HH24:mi:ss')as gcsj_name from (select t.*,rownum as sn from tbl_warning_vehicle t where t.pk not in (select yjpk from tbl_issued_warning) order by gcsj desc) j,JCSJ_DEVICE k where j.yjsb = k.pk_id and sn=1 
   </select>
   
   <select id="depart_infolist" resultType="com.cist.earlywarning.model.DeptInfo" parameterType="java.lang.Integer">
		select t.dept_pk,t.dept_name as name from sys_depart_info t 
		<where>
		  <if test="_parameter  == null or _parameter  == ''">
		     t.DEPT_SUPERIOR is null
		   </if>
		     <if test="_parameter  != null and _parameter  != ''">
		     t.DEPT_SUPERIOR=#{_parameter}
		   </if>
		</where>
   </select>
   <select id="userlist" resultType="com.cist.earlywarning.model.DeptInfo" parameterType="java.lang.Integer">
		select t.SYPI_PK as dept_pk,t.SYPI_NAME as name from SYS_POLICE_INFO t 
		<where>
		     <if test="_parameter  != null and _parameter  != ''">
		     t.SYPI_DEPT=#{_parameter}
		   </if>
		</where>
   </select>
   <select id="getHpzlname" resultType="java.lang.String" parameterType="java.lang.String">
		select fc_name from SYS_FRM_CODE t 
		<where>
		t.fct_code = 'C001'
		     <if test="_parameter  != null and _parameter  != ''">
		     	and t.fc_code=#{_parameter}
		   	</if>
		</where>
   </select>
   <select id="getSsbmname" resultType="java.lang.String" parameterType="java.lang.String">
		select dept_name from SYS_DEPART_INFO t 
		<where>
		     <if test="_parameter  != null and _parameter  != ''">
		     	 t.dept_code=#{_parameter}
		   	</if>
		</where>
   </select>
   <insert id="addiss" parameterType="java.util.HashMap" >
    <selectKey keyProperty="id" resultType="java.lang.Integer" order="BEFORE">  
            select  cistsys.SEQ_ISSUED_PK.nextval from dual  
    </selectKey>
    	insert into TBL_ISSUED_WARNING
    	(
    	PK,
    	XFNR,
    	XFR,
    	XFSJ,
    	YJPK
    	)
    	values
    	 (
    	 #{id,jdbcType=DECIMAL}, 
    	 #{xfnr,jdbcType=VARCHAR},
    	 #{xfr,jdbcType=VARCHAR},
    	 sysdate,
    	 #{pk}
    	 )
  </insert>
  
  <insert id="addUserIss" parameterType="java.util.HashMap">
	   INSERT INTO TBL_ISSUED_USER
            (
             XDPK,
             XFPK,
             XFLX)
       VALUES (
            #{xdpk},
        	#{xfpk},
        	#{xflx})
	</insert>
</mapper>