<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.quarters.mapper.QuartersMapper" >

          <select id="depart_infolist" resultType="com.cist.quarters.model.Depart_info" parameterType="java.lang.Integer">
select t.dept_pk,t.dept_code,t.dept_name as name,t.DEPT_SUPERIOR,t.geo_spatial from sys_depart_info t 
<where>
		  <if test="_parameter  == null or _parameter  == ''">
		     t.DEPT_SUPERIOR is null
		   </if>
		     <if test="_parameter  != null and _parameter  != ''">
		     t.DEPT_SUPERIOR=#{_parameter}  
		   </if>
</where>
   </select>
  <select id="pageListZdclcarinfo" resultType="com.cist.quarters.model.Zdcl_car_info" parameterType="java.util.Map">
  select * from ZDCL_CAR_INFO t
  </select>
</mapper>