<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.JcbkWarningFeedBackMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.JcbkWarningFeedBack" >
    <id column="PK_ID" property="pkId" jdbcType="DECIMAL" />
    <result column="FK_WARNING_ID" property="fkWarningId" jdbcType="DECIMAL" />
    <result column="DISPOSAL_LOCATION" property="disposalLocation" jdbcType="VARCHAR" />
    <result column="LONGITUDE" property="longitude" jdbcType="DECIMAL" />
    <result column="LATITUDE" property="latitude" jdbcType="DECIMAL" />
    <result column="HAS_INTERCEPT_VEHICLES" property="hasInterceptVehicles" jdbcType="CHAR" />
    <result column="NOT_INTERCEPTED_REASON" property="notInterceptedReason" jdbcType="VARCHAR" />
    <result column="HAS_SUSPECTED_VEHICLE" property="hasSuspectedVehicle" jdbcType="CHAR" />
    <result column="NOT_SUSPECTED_VEHICLE_REASON" property="notSuspectedVehicleReason" jdbcType="VARCHAR" />
    <result column="SUSPECT_TYPE" property="suspectType" jdbcType="VARCHAR" />
    <result column="EXCEPTION_TYPE" property="exceptionType" jdbcType="VARCHAR" />
    <result column="TRANSFER_DEPT_ID" property="transferDeptId" jdbcType="DECIMAL" />
    <result column="CONTACTS" property="contacts" jdbcType="VARCHAR" />
    <result column="CONTACT_NUMBER" property="contactNumber" jdbcType="VARCHAR" />
    <result column="DISPOSAL_DESCRIPTION" property="disposalDescription" jdbcType="VARCHAR" />
    <result column="FEEDBACK_PERSON_ID" property="feedbackPersonId" jdbcType="DECIMAL" />
    <result column="FEEDBACK_TIME" property="feedbackTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK_ID, FK_WARNING_ID, DISPOSAL_LOCATION, LONGITUDE, LATITUDE, HAS_INTERCEPT_VEHICLES, 
    NOT_INTERCEPTED_REASON, HAS_SUSPECTED_VEHICLE, NOT_SUSPECTED_VEHICLE_REASON, SUSPECT_TYPE, 
    EXCEPTION_TYPE, TRANSFER_DEPT_ID, CONTACTS, CONTACT_NUMBER, DISPOSAL_DESCRIPTION, 
    FEEDBACK_PERSON_ID, FEEDBACK_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from JCBK_WARNING_FEEDBACK
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from JCBK_WARNING_FEEDBACK
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sbzc.model.JcbkWarningFeedBack" >
    insert into JCBK_WARNING_FEEDBACK (PK_ID, FK_WARNING_ID, DISPOSAL_LOCATION, 
      LONGITUDE, LATITUDE, HAS_INTERCEPT_VEHICLES, 
      NOT_INTERCEPTED_REASON, HAS_SUSPECTED_VEHICLE, 
      NOT_SUSPECTED_VEHICLE_REASON, SUSPECT_TYPE, 
      EXCEPTION_TYPE, TRANSFER_DEPT_ID, CONTACTS, 
      CONTACT_NUMBER, DISPOSAL_DESCRIPTION, FEEDBACK_PERSON_ID, 
      FEEDBACK_TIME)
    values (#{pkId,jdbcType=DECIMAL}, #{fkWarningId,jdbcType=DECIMAL}, #{disposalLocation,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL}, #{hasInterceptVehicles,jdbcType=CHAR}, 
      #{notInterceptedReason,jdbcType=VARCHAR}, #{hasSuspectedVehicle,jdbcType=CHAR}, 
      #{notSuspectedVehicleReason,jdbcType=VARCHAR}, #{suspectType,jdbcType=VARCHAR}, 
      #{exceptionType,jdbcType=VARCHAR}, #{transferDeptId,jdbcType=DECIMAL}, #{contacts,jdbcType=VARCHAR}, 
      #{contactNumber,jdbcType=VARCHAR}, #{disposalDescription,jdbcType=VARCHAR}, #{feedbackPersonId,jdbcType=DECIMAL}, 
      #{feedbackTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.JcbkWarningFeedBack" >
    insert into JCBK_WARNING_FEEDBACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="fkWarningId != null" >
        FK_WARNING_ID,
      </if>
      <if test="disposalLocation != null" >
        DISPOSAL_LOCATION,
      </if>
      <if test="longitude != null" >
        LONGITUDE,
      </if>
      <if test="latitude != null" >
        LATITUDE,
      </if>
      <if test="hasInterceptVehicles != null" >
        HAS_INTERCEPT_VEHICLES,
      </if>
      <if test="notInterceptedReason != null" >
        NOT_INTERCEPTED_REASON,
      </if>
      <if test="hasSuspectedVehicle != null" >
        HAS_SUSPECTED_VEHICLE,
      </if>
      <if test="notSuspectedVehicleReason != null" >
        NOT_SUSPECTED_VEHICLE_REASON,
      </if>
      <if test="suspectType != null" >
        SUSPECT_TYPE,
      </if>
      <if test="exceptionType != null" >
        EXCEPTION_TYPE,
      </if>
      <if test="transferDeptId != null" >
        TRANSFER_DEPT_ID,
      </if>
      <if test="contacts != null" >
        CONTACTS,
      </if>
      <if test="contactNumber != null" >
        CONTACT_NUMBER,
      </if>
      <if test="disposalDescription != null" >
        DISPOSAL_DESCRIPTION,
      </if>
      <if test="feedbackPersonId != null" >
        FEEDBACK_PERSON_ID,
      </if>
      <if test="feedbackTime != null" >
        FEEDBACK_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=DECIMAL},
      </if>
      <if test="fkWarningId != null" >
        #{fkWarningId,jdbcType=DECIMAL},
      </if>
      <if test="disposalLocation != null" >
        #{disposalLocation,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="hasInterceptVehicles != null" >
        #{hasInterceptVehicles,jdbcType=CHAR},
      </if>
      <if test="notInterceptedReason != null" >
        #{notInterceptedReason,jdbcType=VARCHAR},
      </if>
      <if test="hasSuspectedVehicle != null" >
        #{hasSuspectedVehicle,jdbcType=CHAR},
      </if>
      <if test="notSuspectedVehicleReason != null" >
        #{notSuspectedVehicleReason,jdbcType=VARCHAR},
      </if>
      <if test="suspectType != null" >
        #{suspectType,jdbcType=VARCHAR},
      </if>
      <if test="exceptionType != null" >
        #{exceptionType,jdbcType=VARCHAR},
      </if>
      <if test="transferDeptId != null" >
        #{transferDeptId,jdbcType=DECIMAL},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null" >
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="disposalDescription != null" >
        #{disposalDescription,jdbcType=VARCHAR},
      </if>
      <if test="feedbackPersonId != null" >
        #{feedbackPersonId,jdbcType=DECIMAL},
      </if>
      <if test="feedbackTime != null" >
        #{feedbackTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbzc.model.JcbkWarningFeedBack" >
    update JCBK_WARNING_FEEDBACK
    <set >
      <if test="fkWarningId != null" >
        FK_WARNING_ID = #{fkWarningId,jdbcType=DECIMAL},
      </if>
      <if test="disposalLocation != null" >
        DISPOSAL_LOCATION = #{disposalLocation,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        LONGITUDE = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        LATITUDE = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="hasInterceptVehicles != null" >
        HAS_INTERCEPT_VEHICLES = #{hasInterceptVehicles,jdbcType=CHAR},
      </if>
      <if test="notInterceptedReason != null" >
        NOT_INTERCEPTED_REASON = #{notInterceptedReason,jdbcType=VARCHAR},
      </if>
      <if test="hasSuspectedVehicle != null" >
        HAS_SUSPECTED_VEHICLE = #{hasSuspectedVehicle,jdbcType=CHAR},
      </if>
      <if test="notSuspectedVehicleReason != null" >
        NOT_SUSPECTED_VEHICLE_REASON = #{notSuspectedVehicleReason,jdbcType=VARCHAR},
      </if>
      <if test="suspectType != null" >
        SUSPECT_TYPE = #{suspectType,jdbcType=VARCHAR},
      </if>
      <if test="exceptionType != null" >
        EXCEPTION_TYPE = #{exceptionType,jdbcType=VARCHAR},
      </if>
      <if test="transferDeptId != null" >
        TRANSFER_DEPT_ID = #{transferDeptId,jdbcType=DECIMAL},
      </if>
      <if test="contacts != null" >
        CONTACTS = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null" >
        CONTACT_NUMBER = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="disposalDescription != null" >
        DISPOSAL_DESCRIPTION = #{disposalDescription,jdbcType=VARCHAR},
      </if>
      <if test="feedbackPersonId != null" >
        FEEDBACK_PERSON_ID = #{feedbackPersonId,jdbcType=DECIMAL},
      </if>
      <if test="feedbackTime != null" >
        FEEDBACK_TIME = #{feedbackTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sbzc.model.JcbkWarningFeedBack" >
    update JCBK_WARNING_FEEDBACK
    set FK_WARNING_ID = #{fkWarningId,jdbcType=DECIMAL},
      DISPOSAL_LOCATION = #{disposalLocation,jdbcType=VARCHAR},
      LONGITUDE = #{longitude,jdbcType=DECIMAL},
      LATITUDE = #{latitude,jdbcType=DECIMAL},
      HAS_INTERCEPT_VEHICLES = #{hasInterceptVehicles,jdbcType=CHAR},
      NOT_INTERCEPTED_REASON = #{notInterceptedReason,jdbcType=VARCHAR},
      HAS_SUSPECTED_VEHICLE = #{hasSuspectedVehicle,jdbcType=CHAR},
      NOT_SUSPECTED_VEHICLE_REASON = #{notSuspectedVehicleReason,jdbcType=VARCHAR},
      SUSPECT_TYPE = #{suspectType,jdbcType=VARCHAR},
      EXCEPTION_TYPE = #{exceptionType,jdbcType=VARCHAR},
      TRANSFER_DEPT_ID = #{transferDeptId,jdbcType=DECIMAL},
      CONTACTS = #{contacts,jdbcType=VARCHAR},
      CONTACT_NUMBER = #{contactNumber,jdbcType=VARCHAR},
      DISPOSAL_DESCRIPTION = #{disposalDescription,jdbcType=VARCHAR},
      FEEDBACK_PERSON_ID = #{feedbackPersonId,jdbcType=DECIMAL},
      FEEDBACK_TIME = #{feedbackTime,jdbcType=TIMESTAMP}
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </update>
</mapper>