<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.JcbkWarningResultMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.JcbkWarningResult" >
    <id column="PK_ID" property="pkId" jdbcType="DECIMAL" />
    <result column="FK_WARNING_ID" property="fkWarningId" jdbcType="DECIMAL" />
    <result column="RESULT_CODE" property="resultCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK_ID, FK_WARNING_ID, RESULT_CODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from JCBK_WARNING_RESULT
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from JCBK_WARNING_RESULT
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sbzc.model.JcbkWarningResult" >
    insert into JCBK_WARNING_RESULT (PK_ID, FK_WARNING_ID, RESULT_CODE
      )
    values (#{pkId,jdbcType=DECIMAL}, #{fkWarningId,jdbcType=DECIMAL}, #{resultCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.JcbkWarningResult" >
    insert into JCBK_WARNING_RESULT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="fkWarningId != null" >
        FK_WARNING_ID,
      </if>
      <if test="resultCode != null" >
        RESULT_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=DECIMAL},
      </if>
      <if test="fkWarningId != null" >
        #{fkWarningId,jdbcType=DECIMAL},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbzc.model.JcbkWarningResult" >
    update JCBK_WARNING_RESULT
    <set >
      <if test="fkWarningId != null" >
        FK_WARNING_ID = #{fkWarningId,jdbcType=DECIMAL},
      </if>
      <if test="resultCode != null" >
        RESULT_CODE = #{resultCode,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sbzc.model.JcbkWarningResult" >
    update JCBK_WARNING_RESULT
    set FK_WARNING_ID = #{fkWarningId,jdbcType=DECIMAL},
      RESULT_CODE = #{resultCode,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </update>
</mapper>