<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.JcbkWarningVehicleMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.JcbkWarningVehicle" >
    <result column="PK" property="pk" jdbcType="DECIMAL" />
    <result column="HPHM" property="hphm" jdbcType="VARCHAR" />
    <result column="HPZL" property="hpzl" jdbcType="VARCHAR" />
    <result column="GCSJ" property="gcsj" jdbcType="TIMESTAMP" />
    <result column="YJSJ" property="yjsj" jdbcType="TIMESTAMP" />
    <result column="YJDD" property="yjdd" jdbcType="VARCHAR" />
    <result column="XSSD" property="xssd" jdbcType="DECIMAL" />
    <result column="SSBM" property="ssbm" jdbcType="VARCHAR" />
    <result column="XSQY" property="xsqy" jdbcType="VARCHAR" />
    <result column="KKBH" property="kkbh" jdbcType="VARCHAR" />
    <result column="YJXH" property="yjxh" jdbcType="VARCHAR" />
    <result column="YJLX" property="yjlx" jdbcType="VARCHAR" />
    <result column="CDBH" property="cdbh" jdbcType="VARCHAR" />
    <result column="CSYS" property="csys" jdbcType="VARCHAR" />
    <result column="CLLX" property="cllx" jdbcType="VARCHAR" />
    <result column="SSDL" property="ssdl" jdbcType="CHAR" />
    <result column="LDDM" property="lddm" jdbcType="CHAR" />
    <result column="LDMS" property="ldms" jdbcType="CHAR" />
    <result column="DLLX" property="dllx" jdbcType="VARCHAR" />
    <result column="CDFX" property="cdfx" jdbcType="VARCHAR" />
    <result column="SBBH" property="sbbh" jdbcType="VARCHAR" />
    <result column="TPSL" property="tpsl" jdbcType="CHAR" />
    <result column="CPTPLJ" property="cptplj" jdbcType="VARCHAR" />
    <result column="TPLJ1" property="tplj1" jdbcType="VARCHAR" />
    <result column="TPLJ2" property="tplj2" jdbcType="VARCHAR" />
    <result column="TPLJ3" property="tplj3" jdbcType="VARCHAR" />
    <result column="EVENT_CURRENT_STATUS" property="eventCurrentStatus" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.sbzc.model.JcbkWarningVehicle" >
    insert into JCBK_WARNING_VEHICLE (PK, HPHM, HPZL, 
      GCSJ, YJSJ, YJDD, 
      XSSD, SSBM, XSQY, KKBH, 
      YJXH, YJLX, CDBH, CSYS, 
      CLLX, SSDL, LDDM, LDMS, 
      DLLX, CDFX, SBBH, TPSL, 
      CPTPLJ, TPLJ1, TPLJ2, 
      TPLJ3, EVENT_CURRENT_STATUS)
    values (#{pk,jdbcType=DECIMAL}, #{hphm,jdbcType=VARCHAR}, #{hpzl,jdbcType=VARCHAR}, 
      #{gcsj,jdbcType=TIMESTAMP}, #{yjsj,jdbcType=TIMESTAMP}, #{yjdd,jdbcType=VARCHAR}, 
      #{xssd,jdbcType=DECIMAL}, #{ssbm,jdbcType=VARCHAR}, #{xsqy,jdbcType=VARCHAR}, #{kkbh,jdbcType=VARCHAR}, 
      #{yjxh,jdbcType=VARCHAR}, #{yjlx,jdbcType=VARCHAR}, #{cdbh,jdbcType=VARCHAR}, #{csys,jdbcType=VARCHAR}, 
      #{cllx,jdbcType=VARCHAR}, #{ssdl,jdbcType=CHAR}, #{lddm,jdbcType=CHAR}, #{ldms,jdbcType=CHAR}, 
      #{dllx,jdbcType=VARCHAR}, #{cdfx,jdbcType=VARCHAR}, #{sbbh,jdbcType=VARCHAR}, #{tpsl,jdbcType=CHAR}, 
      #{cptplj,jdbcType=VARCHAR}, #{tplj1,jdbcType=VARCHAR}, #{tplj2,jdbcType=VARCHAR}, 
      #{tplj3,jdbcType=VARCHAR}, #{eventCurrentStatus,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.JcbkWarningVehicle" >
    insert into JCBK_WARNING_VEHICLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pk != null" >
        PK,
      </if>
      <if test="hphm != null" >
        HPHM,
      </if>
      <if test="hpzl != null" >
        HPZL,
      </if>
      <if test="gcsj != null" >
        GCSJ,
      </if>
      <if test="yjsj != null" >
        YJSJ,
      </if>
      <if test="yjdd != null" >
        YJDD,
      </if>
      <if test="xssd != null" >
        XSSD,
      </if>
      <if test="ssbm != null" >
        SSBM,
      </if>
      <if test="xsqy != null" >
        XSQY,
      </if>
      <if test="kkbh != null" >
        KKBH,
      </if>
      <if test="yjxh != null" >
        YJXH,
      </if>
      <if test="yjlx != null" >
        YJLX,
      </if>
      <if test="cdbh != null" >
        CDBH,
      </if>
      <if test="csys != null" >
        CSYS,
      </if>
      <if test="cllx != null" >
        CLLX,
      </if>
      <if test="ssdl != null" >
        SSDL,
      </if>
      <if test="lddm != null" >
        LDDM,
      </if>
      <if test="ldms != null" >
        LDMS,
      </if>
      <if test="dllx != null" >
        DLLX,
      </if>
      <if test="cdfx != null" >
        CDFX,
      </if>
      <if test="sbbh != null" >
        SBBH,
      </if>
      <if test="tpsl != null" >
        TPSL,
      </if>
      <if test="cptplj != null" >
        CPTPLJ,
      </if>
      <if test="tplj1 != null" >
        TPLJ1,
      </if>
      <if test="tplj2 != null" >
        TPLJ2,
      </if>
      <if test="tplj3 != null" >
        TPLJ3,
      </if>
      <if test="eventCurrentStatus != null" >
        EVENT_CURRENT_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pk != null" >
        #{pk,jdbcType=DECIMAL},
      </if>
      <if test="hphm != null" >
        #{hphm,jdbcType=VARCHAR},
      </if>
      <if test="hpzl != null" >
        #{hpzl,jdbcType=VARCHAR},
      </if>
      <if test="gcsj != null" >
        #{gcsj,jdbcType=TIMESTAMP},
      </if>
      <if test="yjsj != null" >
        #{yjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="yjdd != null" >
        #{yjdd,jdbcType=VARCHAR},
      </if>
      <if test="xssd != null" >
        #{xssd,jdbcType=DECIMAL},
      </if>
      <if test="ssbm != null" >
        #{ssbm,jdbcType=VARCHAR},
      </if>
      <if test="xsqy != null" >
        #{xsqy,jdbcType=VARCHAR},
      </if>
      <if test="kkbh != null" >
        #{kkbh,jdbcType=VARCHAR},
      </if>
      <if test="yjxh != null" >
        #{yjxh,jdbcType=VARCHAR},
      </if>
      <if test="yjlx != null" >
        #{yjlx,jdbcType=VARCHAR},
      </if>
      <if test="cdbh != null" >
        #{cdbh,jdbcType=VARCHAR},
      </if>
      <if test="csys != null" >
        #{csys,jdbcType=VARCHAR},
      </if>
      <if test="cllx != null" >
        #{cllx,jdbcType=VARCHAR},
      </if>
      <if test="ssdl != null" >
        #{ssdl,jdbcType=CHAR},
      </if>
      <if test="lddm != null" >
        #{lddm,jdbcType=CHAR},
      </if>
      <if test="ldms != null" >
        #{ldms,jdbcType=CHAR},
      </if>
      <if test="dllx != null" >
        #{dllx,jdbcType=VARCHAR},
      </if>
      <if test="cdfx != null" >
        #{cdfx,jdbcType=VARCHAR},
      </if>
      <if test="sbbh != null" >
        #{sbbh,jdbcType=VARCHAR},
      </if>
      <if test="tpsl != null" >
        #{tpsl,jdbcType=CHAR},
      </if>
      <if test="cptplj != null" >
        #{cptplj,jdbcType=VARCHAR},
      </if>
      <if test="tplj1 != null" >
        #{tplj1,jdbcType=VARCHAR},
      </if>
      <if test="tplj2 != null" >
        #{tplj2,jdbcType=VARCHAR},
      </if>
      <if test="tplj3 != null" >
        #{tplj3,jdbcType=VARCHAR},
      </if>
      <if test="eventCurrentStatus != null" >
        #{eventCurrentStatus,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>