<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.JcbkWarningPersonnelMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.JcbkWarningPersonnel" >
    <result column="PK_ID" property="pkId" jdbcType="DECIMAL" />
    <result column="FK_WARNING_ID" property="fkWarningId" jdbcType="DECIMAL" />
    <result column="FK_WARNING_DISPATCH_ID" property="fkWarningDispatchId" jdbcType="DECIMAL" />
    <result column="FK_PERSON_ID" property="fkPersonId" jdbcType="DECIMAL" />
    <result column="CONFIRMATION" property="confirmation" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.sbzc.model.JcbkWarningPersonnel" >
    insert into JCBK_WARNING_PERSONNEL (PK_ID, FK_WARNING_ID, FK_WARNING_DISPATCH_ID, 
      FK_PERSON_ID, CONFIRMATION)
    values (#{pkId,jdbcType=DECIMAL}, #{fkWarningId,jdbcType=DECIMAL}, #{fkWarningDispatchId,jdbcType=DECIMAL}, 
      #{fkPersonId,jdbcType=DECIMAL}, #{confirmation,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.JcbkWarningPersonnel" >
    insert into JCBK_WARNING_PERSONNEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="fkWarningId != null" >
        FK_WARNING_ID,
      </if>
      <if test="fkWarningDispatchId != null" >
        FK_WARNING_DISPATCH_ID,
      </if>
      <if test="fkPersonId != null" >
        FK_PERSON_ID,
      </if>
      <if test="confirmation != null" >
        CONFIRMATION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=DECIMAL},
      </if>
      <if test="fkWarningId != null" >
        #{fkWarningId,jdbcType=DECIMAL},
      </if>
      <if test="fkWarningDispatchId != null" >
        #{fkWarningDispatchId,jdbcType=DECIMAL},
      </if>
      <if test="fkPersonId != null" >
        #{fkPersonId,jdbcType=DECIMAL},
      </if>
      <if test="confirmation != null" >
        #{confirmation,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>