<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.JcbkWarningDocumentMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.JcbkWarningDocument" >
    <id column="PK_ID" property="pkId" jdbcType="DECIMAL" />
    <result column="FK_WARNING_ID" property="fkWarningId" jdbcType="DECIMAL" />
    <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
    <result column="DOCUMENT_NUM" property="documentNum" jdbcType="VARCHAR" />
    <result column="PARITY_BIT" property="parityBit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PK_ID, FK_WARNING_ID, DOCUMENT_CATEGORY, DOCUMENT_NUM, PARITY_BIT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from JCBK_WARNING_DOCUMENT
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from JCBK_WARNING_DOCUMENT
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sbzc.model.JcbkWarningDocument" >
    insert into JCBK_WARNING_DOCUMENT (PK_ID, FK_WARNING_ID, DOCUMENT_CATEGORY, 
      DOCUMENT_NUM, PARITY_BIT)
    values (#{pkId,jdbcType=DECIMAL}, #{fkWarningId,jdbcType=DECIMAL}, #{documentCategory,jdbcType=VARCHAR}, 
      #{documentNum,jdbcType=VARCHAR}, #{parityBit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.JcbkWarningDocument" >
    insert into JCBK_WARNING_DOCUMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="fkWarningId != null" >
        FK_WARNING_ID,
      </if>
      <if test="documentCategory != null" >
        DOCUMENT_CATEGORY,
      </if>
      <if test="documentNum != null" >
        DOCUMENT_NUM,
      </if>
      <if test="parityBit != null" >
        PARITY_BIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=DECIMAL},
      </if>
      <if test="fkWarningId != null" >
        #{fkWarningId,jdbcType=DECIMAL},
      </if>
      <if test="documentCategory != null" >
        #{documentCategory,jdbcType=VARCHAR},
      </if>
      <if test="documentNum != null" >
        #{documentNum,jdbcType=VARCHAR},
      </if>
      <if test="parityBit != null" >
        #{parityBit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbzc.model.JcbkWarningDocument" >
    update JCBK_WARNING_DOCUMENT
    <set >
      <if test="fkWarningId != null" >
        FK_WARNING_ID = #{fkWarningId,jdbcType=DECIMAL},
      </if>
      <if test="documentCategory != null" >
        DOCUMENT_CATEGORY = #{documentCategory,jdbcType=VARCHAR},
      </if>
      <if test="documentNum != null" >
        DOCUMENT_NUM = #{documentNum,jdbcType=VARCHAR},
      </if>
      <if test="parityBit != null" >
        PARITY_BIT = #{parityBit,jdbcType=VARCHAR},
      </if>
    </set>
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sbzc.model.JcbkWarningDocument" >
    update JCBK_WARNING_DOCUMENT
    set FK_WARNING_ID = #{fkWarningId,jdbcType=DECIMAL},
      DOCUMENT_CATEGORY = #{documentCategory,jdbcType=VARCHAR},
      DOCUMENT_NUM = #{documentNum,jdbcType=VARCHAR},
      PARITY_BIT = #{parityBit,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=DECIMAL}
  </update>
</mapper>