<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.JcsjPoliceResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.JcsjPoliceResources" >
    <result column="PK_ID" property="pkId" jdbcType="DECIMAL" />
    <result column="FK_DEPT_ID" property="fkDeptId" jdbcType="DECIMAL" />
    <result column="CREATE_PERSON" property="createPerson" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ENABLE_DATE" property="enableDate" jdbcType="TIMESTAMP" />
    <result column="VALIDITY_DATE" property="validityDate" jdbcType="TIMESTAMP" />
    <result column="RESOURCES_TYPE" property="resourcesType" jdbcType="CHAR" />
    <result column="CAR_TYPE" property="carType" jdbcType="CHAR" />
    <result column="CAR_BRAND" property="carBrand" jdbcType="CHAR" />
    <result column="CAR_NUM" property="carNum" jdbcType="VARCHAR" />
    <result column="CAR_PURPOSE" property="carPurpose" jdbcType="VARCHAR" />
    <result column="ANNUAL_INSPECTION_VALID" property="annualInspectionValid" jdbcType="TIMESTAMP" />
    <result column="INSURANCE_COMPANY" property="insuranceCompany" jdbcType="CHAR" />
    <result column="INSURANCE_NUM" property="insuranceNum" jdbcType="VARCHAR" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="VARCHAR" />
    <result column="DEVICE_MODEL" property="deviceModel" jdbcType="VARCHAR" />
    <result column="MANUFACTURER" property="manufacturer" jdbcType="VARCHAR" />
    <result column="STAFF_NAME" property="staffName" jdbcType="VARCHAR" />
    <result column="STAFF_CONTACTS_NUM" property="staffContactsNum" jdbcType="VARCHAR" />
    <result column="SIM_NUM" property="simNum" jdbcType="VARCHAR" />
    <result column="CALL_NUM" property="callNum" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.sbzc.model.JcsjPoliceResources" >
    insert into JCSJ_POLICE_RESOURCES (PK_ID, FK_DEPT_ID, CREATE_PERSON, 
      CREATE_TIME, ENABLE_DATE, VALIDITY_DATE, 
      RESOURCES_TYPE, CAR_TYPE, CAR_BRAND, 
      CAR_NUM, CAR_PURPOSE, ANNUAL_INSPECTION_VALID, 
      INSURANCE_COMPANY, INSURANCE_NUM, DEVICE_TYPE, 
      DEVICE_MODEL, MANUFACTURER, STAFF_NAME, 
      STAFF_CONTACTS_NUM, SIM_NUM, CALL_NUM
      )
    values (#{pkId,jdbcType=DECIMAL}, #{fkDeptId,jdbcType=DECIMAL}, #{createPerson,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{enableDate,jdbcType=TIMESTAMP}, #{validityDate,jdbcType=TIMESTAMP}, 
      #{resourcesType,jdbcType=CHAR}, #{carType,jdbcType=CHAR}, #{carBrand,jdbcType=CHAR}, 
      #{carNum,jdbcType=VARCHAR}, #{carPurpose,jdbcType=VARCHAR}, #{annualInspectionValid,jdbcType=TIMESTAMP}, 
      #{insuranceCompany,jdbcType=CHAR}, #{insuranceNum,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}, 
      #{deviceModel,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, #{staffName,jdbcType=VARCHAR}, 
      #{staffContactsNum,jdbcType=VARCHAR}, #{simNum,jdbcType=VARCHAR}, #{callNum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.JcsjPoliceResources" >
    insert into JCSJ_POLICE_RESOURCES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="fkDeptId != null" >
        FK_DEPT_ID,
      </if>
      <if test="createPerson != null" >
        CREATE_PERSON,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="enableDate != null" >
        ENABLE_DATE,
      </if>
      <if test="validityDate != null" >
        VALIDITY_DATE,
      </if>
      <if test="resourcesType != null" >
        RESOURCES_TYPE,
      </if>
      <if test="carType != null" >
        CAR_TYPE,
      </if>
      <if test="carBrand != null" >
        CAR_BRAND,
      </if>
      <if test="carNum != null" >
        CAR_NUM,
      </if>
      <if test="carPurpose != null" >
        CAR_PURPOSE,
      </if>
      <if test="annualInspectionValid != null" >
        ANNUAL_INSPECTION_VALID,
      </if>
      <if test="insuranceCompany != null" >
        INSURANCE_COMPANY,
      </if>
      <if test="insuranceNum != null" >
        INSURANCE_NUM,
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE,
      </if>
      <if test="deviceModel != null" >
        DEVICE_MODEL,
      </if>
      <if test="manufacturer != null" >
        MANUFACTURER,
      </if>
      <if test="staffName != null" >
        STAFF_NAME,
      </if>
      <if test="staffContactsNum != null" >
        STAFF_CONTACTS_NUM,
      </if>
      <if test="simNum != null" >
        SIM_NUM,
      </if>
      <if test="callNum != null" >
        CALL_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=DECIMAL},
      </if>
      <if test="fkDeptId != null" >
        #{fkDeptId,jdbcType=DECIMAL},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enableDate != null" >
        #{enableDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validityDate != null" >
        #{validityDate,jdbcType=TIMESTAMP},
      </if>
      <if test="resourcesType != null" >
        #{resourcesType,jdbcType=CHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=CHAR},
      </if>
      <if test="carBrand != null" >
        #{carBrand,jdbcType=CHAR},
      </if>
      <if test="carNum != null" >
        #{carNum,jdbcType=VARCHAR},
      </if>
      <if test="carPurpose != null" >
        #{carPurpose,jdbcType=VARCHAR},
      </if>
      <if test="annualInspectionValid != null" >
        #{annualInspectionValid,jdbcType=TIMESTAMP},
      </if>
      <if test="insuranceCompany != null" >
        #{insuranceCompany,jdbcType=CHAR},
      </if>
      <if test="insuranceNum != null" >
        #{insuranceNum,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="deviceModel != null" >
        #{deviceModel,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="staffName != null" >
        #{staffName,jdbcType=VARCHAR},
      </if>
      <if test="staffContactsNum != null" >
        #{staffContactsNum,jdbcType=VARCHAR},
      </if>
      <if test="simNum != null" >
        #{simNum,jdbcType=VARCHAR},
      </if>
      <if test="callNum != null" >
        #{callNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>