<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.SssbEquipmentGatherMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.SssbEquipmentGather" >
    <id column="FK_EQUIPMENT_ID" property="fkEquipmentId" jdbcType="DECIMAL" />
    <result column="EQUIPMENT_MODEL" property="equipmentModel" jdbcType="VARCHAR" />
    <result column="EQUIPMENT_TYPE" property="equipmentType" jdbcType="VARCHAR" />
    <result column="FK_DEPT_ID" property="fkDeptId" jdbcType="DECIMAL" />
    <result column="CHARGER_PERSON" property="chargerPerson" jdbcType="VARCHAR" />
    <result column="CHARGER_ CONTACT_NUMBER" property="chargerContactNumber" jdbcType="VARCHAR" />
    <result column="IP_ADDR" property="ipAddr" jdbcType="VARCHAR" />
    <result column="MAC_ADDR" property="macAddr" jdbcType="VARCHAR" />
    <result column="PORT" property="port" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="SUPPLIER" property="supplier" jdbcType="VARCHAR" />
    <result column="SUPPLIER_CONTACT_NUMBER" property="supplierContactNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    FK_EQUIPMENT_ID, EQUIPMENT_MODEL, EQUIPMENT_TYPE, FK_DEPT_ID, CHARGER_PERSON, "CHARGER_ CONTACT_NUMBER", 
    IP_ADDR, MAC_ADDR, PORT, DESCRIPTION, SUPPLIER, SUPPLIER_CONTACT_NUMBER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SSSB_EQUIPMENT_GATHER
    where FK_EQUIPMENT_ID = #{fkEquipmentId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SSSB_EQUIPMENT_GATHER
    where FK_EQUIPMENT_ID = #{fkEquipmentId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sbzc.model.SssbEquipmentGather" >
    insert into SSSB_EQUIPMENT_GATHER (FK_EQUIPMENT_ID, EQUIPMENT_MODEL, EQUIPMENT_TYPE, 
      FK_DEPT_ID, CHARGER_PERSON, "CHARGER_ CONTACT_NUMBER", 
      IP_ADDR, MAC_ADDR, PORT, 
      DESCRIPTION, SUPPLIER, SUPPLIER_CONTACT_NUMBER
      )
    values (#{fkEquipmentId,jdbcType=DECIMAL}, #{equipmentModel,jdbcType=VARCHAR}, #{equipmentType,jdbcType=VARCHAR}, 
      #{fkDeptId,jdbcType=DECIMAL}, #{chargerPerson,jdbcType=VARCHAR}, #{chargerContactNumber,jdbcType=VARCHAR}, 
      #{ipAddr,jdbcType=VARCHAR}, #{macAddr,jdbcType=VARCHAR}, #{port,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{supplier,jdbcType=VARCHAR}, #{supplierContactNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.SssbEquipmentGather" >
    insert into SSSB_EQUIPMENT_GATHER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fkEquipmentId != null" >
        FK_EQUIPMENT_ID,
      </if>
      <if test="equipmentModel != null" >
        EQUIPMENT_MODEL,
      </if>
      <if test="equipmentType != null" >
        EQUIPMENT_TYPE,
      </if>
      <if test="fkDeptId != null" >
        FK_DEPT_ID,
      </if>
      <if test="chargerPerson != null" >
        CHARGER_PERSON,
      </if>
      <if test="chargerContactNumber != null" >
        "CHARGER_ CONTACT_NUMBER",
      </if>
      <if test="ipAddr != null" >
        IP_ADDR,
      </if>
      <if test="macAddr != null" >
        MAC_ADDR,
      </if>
      <if test="port != null" >
        PORT,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="supplier != null" >
        SUPPLIER,
      </if>
      <if test="supplierContactNumber != null" >
        SUPPLIER_CONTACT_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fkEquipmentId != null" >
        #{fkEquipmentId,jdbcType=DECIMAL},
      </if>
      <if test="equipmentModel != null" >
        #{equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null" >
        #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="fkDeptId != null" >
        #{fkDeptId,jdbcType=DECIMAL},
      </if>
      <if test="chargerPerson != null" >
        #{chargerPerson,jdbcType=VARCHAR},
      </if>
      <if test="chargerContactNumber != null" >
        #{chargerContactNumber,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null" >
        #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="macAddr != null" >
        #{macAddr,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="supplierContactNumber != null" >
        #{supplierContactNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbzc.model.SssbEquipmentGather" >
    update SSSB_EQUIPMENT_GATHER
    <set >
      <if test="equipmentModel != null" >
        EQUIPMENT_MODEL = #{equipmentModel,jdbcType=VARCHAR},
      </if>
      <if test="equipmentType != null" >
        EQUIPMENT_TYPE = #{equipmentType,jdbcType=VARCHAR},
      </if>
      <if test="fkDeptId != null" >
        FK_DEPT_ID = #{fkDeptId,jdbcType=DECIMAL},
      </if>
      <if test="chargerPerson != null" >
        CHARGER_PERSON = #{chargerPerson,jdbcType=VARCHAR},
      </if>
      <if test="chargerContactNumber != null" >
        "CHARGER_ CONTACT_NUMBER" = #{chargerContactNumber,jdbcType=VARCHAR},
      </if>
      <if test="ipAddr != null" >
        IP_ADDR = #{ipAddr,jdbcType=VARCHAR},
      </if>
      <if test="macAddr != null" >
        MAC_ADDR = #{macAddr,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        PORT = #{port,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="supplier != null" >
        SUPPLIER = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="supplierContactNumber != null" >
        SUPPLIER_CONTACT_NUMBER = #{supplierContactNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where FK_EQUIPMENT_ID = #{fkEquipmentId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sbzc.model.SssbEquipmentGather" >
    update SSSB_EQUIPMENT_GATHER
    set EQUIPMENT_MODEL = #{equipmentModel,jdbcType=VARCHAR},
      EQUIPMENT_TYPE = #{equipmentType,jdbcType=VARCHAR},
      FK_DEPT_ID = #{fkDeptId,jdbcType=DECIMAL},
      CHARGER_PERSON = #{chargerPerson,jdbcType=VARCHAR},
      "CHARGER_ CONTACT_NUMBER" = #{chargerContactNumber,jdbcType=VARCHAR},
      IP_ADDR = #{ipAddr,jdbcType=VARCHAR},
      MAC_ADDR = #{macAddr,jdbcType=VARCHAR},
      PORT = #{port,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      SUPPLIER = #{supplier,jdbcType=VARCHAR},
      SUPPLIER_CONTACT_NUMBER = #{supplierContactNumber,jdbcType=VARCHAR}
    where FK_EQUIPMENT_ID = #{fkEquipmentId,jdbcType=DECIMAL}
  </update>
</mapper>