<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbzc.mappers.SysDepartInfoMapper">
  <resultMap id="BaseResultMap" type="com.sbzc.model.SysDepartInfo">
    <id column="DEPT_PK" jdbcType="DECIMAL" property="deptPk" />
    <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="DEPT_ALLNAME" jdbcType="VARCHAR" property="deptAllname" />
    <result column="DEPT_SEAL" jdbcType="VARCHAR" property="deptSeal" />
    <result column="DEPT_AUTHORITY" jdbcType="VARCHAR" property="deptAuthority" />
    <result column="DEPT_LEVEL" jdbcType="CHAR" property="deptLevel" />
    <result column="DEPT_HEAD" jdbcType="VARCHAR" property="deptHead" />
    <result column="DEPT_REAT" jdbcType="VARCHAR" property="deptReat" />
    <result column="DEPT_TEL" jdbcType="VARCHAR" property="deptTel" />
    <result column="DEPT_FAX" jdbcType="VARCHAR" property="deptFax" />
    <result column="DEPT_ADDR" jdbcType="VARCHAR" property="deptAddr" />
    <result column="DEPT_SUPERIOR" jdbcType="DECIMAL" property="deptSuperior" />
    <result column="SYDT_PK" jdbcType="DECIMAL" property="sydtPk" />
    <result column="DEPT_SIMP_SPELL" jdbcType="CHAR" property="deptSimpSpell" />
    <result column="TBEK_PK" jdbcType="DECIMAL" property="tbekPk" />
    <result column="MAP_ID" jdbcType="DECIMAL" property="mapId" />
    <result column="DEPT_FLAG" jdbcType="CHAR" property="deptFlag" />
    <result column="TBEK_CODE" jdbcType="CHAR" property="tbekCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sbzc.model.SysDepartInfo">
    <result column="GEO_SPATIAL" jdbcType="CLOB" property="geoSpatial" />
  </resultMap>
  <sql id="Base_Column_List">
    DEPT_PK, DEPT_CODE, DEPT_NAME, DEPT_ALLNAME, DEPT_SEAL, DEPT_AUTHORITY, DEPT_LEVEL, 
    DEPT_HEAD, DEPT_REAT, DEPT_TEL, DEPT_FAX, DEPT_ADDR, DEPT_SUPERIOR, SYDT_PK, DEPT_SIMP_SPELL, 
    TBEK_PK, MAP_ID, DEPT_FLAG, TBEK_CODE
  </sql>
  <sql id="Blob_Column_List">
    GEO_SPATIAL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from SYS_DEPART_INFO
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from SYS_DEPART_INFO
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sbzc.model.SysDepartInfo">
    insert into SYS_DEPART_INFO (DEPT_PK, DEPT_CODE, DEPT_NAME, 
      DEPT_ALLNAME, DEPT_SEAL, DEPT_AUTHORITY, 
      DEPT_LEVEL, DEPT_HEAD, DEPT_REAT, 
      DEPT_TEL, DEPT_FAX, DEPT_ADDR, 
      DEPT_SUPERIOR, SYDT_PK, DEPT_SIMP_SPELL, 
      TBEK_PK, MAP_ID, DEPT_FLAG, 
      TBEK_CODE, GEO_SPATIAL)
    values (#{deptPk,jdbcType=DECIMAL}, #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{deptAllname,jdbcType=VARCHAR}, #{deptSeal,jdbcType=VARCHAR}, #{deptAuthority,jdbcType=VARCHAR}, 
      #{deptLevel,jdbcType=CHAR}, #{deptHead,jdbcType=VARCHAR}, #{deptReat,jdbcType=VARCHAR}, 
      #{deptTel,jdbcType=VARCHAR}, #{deptFax,jdbcType=VARCHAR}, #{deptAddr,jdbcType=VARCHAR}, 
      #{deptSuperior,jdbcType=DECIMAL}, #{sydtPk,jdbcType=DECIMAL}, #{deptSimpSpell,jdbcType=CHAR}, 
      #{tbekPk,jdbcType=DECIMAL}, #{mapId,jdbcType=DECIMAL}, #{deptFlag,jdbcType=CHAR}, 
      #{tbekCode,jdbcType=CHAR}, #{geoSpatial,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.SysDepartInfo">
    insert into SYS_DEPART_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptPk != null">
        DEPT_PK,
      </if>
      <if test="deptCode != null">
        DEPT_CODE,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="deptAllname != null">
        DEPT_ALLNAME,
      </if>
      <if test="deptSeal != null">
        DEPT_SEAL,
      </if>
      <if test="deptAuthority != null">
        DEPT_AUTHORITY,
      </if>
      <if test="deptLevel != null">
        DEPT_LEVEL,
      </if>
      <if test="deptHead != null">
        DEPT_HEAD,
      </if>
      <if test="deptReat != null">
        DEPT_REAT,
      </if>
      <if test="deptTel != null">
        DEPT_TEL,
      </if>
      <if test="deptFax != null">
        DEPT_FAX,
      </if>
      <if test="deptAddr != null">
        DEPT_ADDR,
      </if>
      <if test="deptSuperior != null">
        DEPT_SUPERIOR,
      </if>
      <if test="sydtPk != null">
        SYDT_PK,
      </if>
      <if test="deptSimpSpell != null">
        DEPT_SIMP_SPELL,
      </if>
      <if test="tbekPk != null">
        TBEK_PK,
      </if>
      <if test="mapId != null">
        MAP_ID,
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG,
      </if>
      <if test="tbekCode != null">
        TBEK_CODE,
      </if>
      <if test="geoSpatial != null">
        GEO_SPATIAL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptPk != null">
        #{deptPk,jdbcType=DECIMAL},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptAllname != null">
        #{deptAllname,jdbcType=VARCHAR},
      </if>
      <if test="deptSeal != null">
        #{deptSeal,jdbcType=VARCHAR},
      </if>
      <if test="deptAuthority != null">
        #{deptAuthority,jdbcType=VARCHAR},
      </if>
      <if test="deptLevel != null">
        #{deptLevel,jdbcType=CHAR},
      </if>
      <if test="deptHead != null">
        #{deptHead,jdbcType=VARCHAR},
      </if>
      <if test="deptReat != null">
        #{deptReat,jdbcType=VARCHAR},
      </if>
      <if test="deptTel != null">
        #{deptTel,jdbcType=VARCHAR},
      </if>
      <if test="deptFax != null">
        #{deptFax,jdbcType=VARCHAR},
      </if>
      <if test="deptAddr != null">
        #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptSuperior != null">
        #{deptSuperior,jdbcType=DECIMAL},
      </if>
      <if test="sydtPk != null">
        #{sydtPk,jdbcType=DECIMAL},
      </if>
      <if test="deptSimpSpell != null">
        #{deptSimpSpell,jdbcType=CHAR},
      </if>
      <if test="tbekPk != null">
        #{tbekPk,jdbcType=DECIMAL},
      </if>
      <if test="mapId != null">
        #{mapId,jdbcType=DECIMAL},
      </if>
      <if test="deptFlag != null">
        #{deptFlag,jdbcType=CHAR},
      </if>
      <if test="tbekCode != null">
        #{tbekCode,jdbcType=CHAR},
      </if>
      <if test="geoSpatial != null">
        #{geoSpatial,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbzc.model.SysDepartInfo">
    update SYS_DEPART_INFO
    <set>
      <if test="deptCode != null">
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptAllname != null">
        DEPT_ALLNAME = #{deptAllname,jdbcType=VARCHAR},
      </if>
      <if test="deptSeal != null">
        DEPT_SEAL = #{deptSeal,jdbcType=VARCHAR},
      </if>
      <if test="deptAuthority != null">
        DEPT_AUTHORITY = #{deptAuthority,jdbcType=VARCHAR},
      </if>
      <if test="deptLevel != null">
        DEPT_LEVEL = #{deptLevel,jdbcType=CHAR},
      </if>
      <if test="deptHead != null">
        DEPT_HEAD = #{deptHead,jdbcType=VARCHAR},
      </if>
      <if test="deptReat != null">
        DEPT_REAT = #{deptReat,jdbcType=VARCHAR},
      </if>
      <if test="deptTel != null">
        DEPT_TEL = #{deptTel,jdbcType=VARCHAR},
      </if>
      <if test="deptFax != null">
        DEPT_FAX = #{deptFax,jdbcType=VARCHAR},
      </if>
      <if test="deptAddr != null">
        DEPT_ADDR = #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptSuperior != null">
        DEPT_SUPERIOR = #{deptSuperior,jdbcType=DECIMAL},
      </if>
      <if test="sydtPk != null">
        SYDT_PK = #{sydtPk,jdbcType=DECIMAL},
      </if>
      <if test="deptSimpSpell != null">
        DEPT_SIMP_SPELL = #{deptSimpSpell,jdbcType=CHAR},
      </if>
      <if test="tbekPk != null">
        TBEK_PK = #{tbekPk,jdbcType=DECIMAL},
      </if>
      <if test="mapId != null">
        MAP_ID = #{mapId,jdbcType=DECIMAL},
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG = #{deptFlag,jdbcType=CHAR},
      </if>
      <if test="tbekCode != null">
        TBEK_CODE = #{tbekCode,jdbcType=CHAR},
      </if>
      <if test="geoSpatial != null">
        GEO_SPATIAL = #{geoSpatial,jdbcType=CLOB},
      </if>
    </set>
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sbzc.model.SysDepartInfo">
    update SYS_DEPART_INFO
    set DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DEPT_ALLNAME = #{deptAllname,jdbcType=VARCHAR},
      DEPT_SEAL = #{deptSeal,jdbcType=VARCHAR},
      DEPT_AUTHORITY = #{deptAuthority,jdbcType=VARCHAR},
      DEPT_LEVEL = #{deptLevel,jdbcType=CHAR},
      DEPT_HEAD = #{deptHead,jdbcType=VARCHAR},
      DEPT_REAT = #{deptReat,jdbcType=VARCHAR},
      DEPT_TEL = #{deptTel,jdbcType=VARCHAR},
      DEPT_FAX = #{deptFax,jdbcType=VARCHAR},
      DEPT_ADDR = #{deptAddr,jdbcType=VARCHAR},
      DEPT_SUPERIOR = #{deptSuperior,jdbcType=DECIMAL},
      SYDT_PK = #{sydtPk,jdbcType=DECIMAL},
      DEPT_SIMP_SPELL = #{deptSimpSpell,jdbcType=CHAR},
      TBEK_PK = #{tbekPk,jdbcType=DECIMAL},
      MAP_ID = #{mapId,jdbcType=DECIMAL},
      DEPT_FLAG = #{deptFlag,jdbcType=CHAR},
      TBEK_CODE = #{tbekCode,jdbcType=CHAR},
      GEO_SPATIAL = #{geoSpatial,jdbcType=CLOB}
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sbzc.model.SysDepartInfo">
    update SYS_DEPART_INFO
    set DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DEPT_ALLNAME = #{deptAllname,jdbcType=VARCHAR},
      DEPT_SEAL = #{deptSeal,jdbcType=VARCHAR},
      DEPT_AUTHORITY = #{deptAuthority,jdbcType=VARCHAR},
      DEPT_LEVEL = #{deptLevel,jdbcType=CHAR},
      DEPT_HEAD = #{deptHead,jdbcType=VARCHAR},
      DEPT_REAT = #{deptReat,jdbcType=VARCHAR},
      DEPT_TEL = #{deptTel,jdbcType=VARCHAR},
      DEPT_FAX = #{deptFax,jdbcType=VARCHAR},
      DEPT_ADDR = #{deptAddr,jdbcType=VARCHAR},
      DEPT_SUPERIOR = #{deptSuperior,jdbcType=DECIMAL},
      SYDT_PK = #{sydtPk,jdbcType=DECIMAL},
      DEPT_SIMP_SPELL = #{deptSimpSpell,jdbcType=CHAR},
      TBEK_PK = #{tbekPk,jdbcType=DECIMAL},
      MAP_ID = #{mapId,jdbcType=DECIMAL},
      DEPT_FLAG = #{deptFlag,jdbcType=CHAR},
      TBEK_CODE = #{tbekCode,jdbcType=CHAR}
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.sbzc.model.SysDepartInfo">
    <id column="DEPT_PK" jdbcType="DECIMAL" property="deptPk" />
    <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="DEPT_ALLNAME" jdbcType="VARCHAR" property="deptAllname" />
    <result column="DEPT_SEAL" jdbcType="VARCHAR" property="deptSeal" />
    <result column="DEPT_AUTHORITY" jdbcType="VARCHAR" property="deptAuthority" />
    <result column="DEPT_LEVEL" jdbcType="CHAR" property="deptLevel" />
    <result column="DEPT_HEAD" jdbcType="VARCHAR" property="deptHead" />
    <result column="DEPT_REAT" jdbcType="VARCHAR" property="deptReat" />
    <result column="DEPT_TEL" jdbcType="VARCHAR" property="deptTel" />
    <result column="DEPT_FAX" jdbcType="VARCHAR" property="deptFax" />
    <result column="DEPT_ADDR" jdbcType="VARCHAR" property="deptAddr" />
    <result column="DEPT_SUPERIOR" jdbcType="DECIMAL" property="deptSuperior" />
    <result column="SYDT_PK" jdbcType="DECIMAL" property="sydtPk" />
    <result column="DEPT_SIMP_SPELL" jdbcType="CHAR" property="deptSimpSpell" />
    <result column="TBEK_PK" jdbcType="DECIMAL" property="tbekPk" />
    <result column="MAP_ID" jdbcType="DECIMAL" property="mapId" />
    <result column="DEPT_FLAG" jdbcType="CHAR" property="deptFlag" />
    <result column="TBEK_CODE" jdbcType="VARCHAR" property="tbekCode" />
  </resultMap>
  <sql id="Base_Column_List">
    DEPT_PK, DEPT_CODE, DEPT_NAME, DEPT_ALLNAME, DEPT_SEAL, DEPT_AUTHORITY, DEPT_LEVEL, 
    DEPT_HEAD, DEPT_REAT, DEPT_TEL, DEPT_FAX, DEPT_ADDR, DEPT_SUPERIOR, SYDT_PK, DEPT_SIMP_SPELL, 
    TBEK_PK, MAP_ID, DEPT_FLAG, TBEK_CODE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_DEPART_INFO
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from SYS_DEPART_INFO
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sbzc.model.SysDepartInfo">
    insert into SYS_DEPART_INFO (DEPT_PK, DEPT_CODE, DEPT_NAME, 
      DEPT_ALLNAME, DEPT_SEAL, DEPT_AUTHORITY, 
      DEPT_LEVEL, DEPT_HEAD, DEPT_REAT, 
      DEPT_TEL, DEPT_FAX, DEPT_ADDR, 
      DEPT_SUPERIOR, SYDT_PK, DEPT_SIMP_SPELL, 
      TBEK_PK, MAP_ID, DEPT_FLAG, 
      TBEK_CODE)
    values (#{deptPk,jdbcType=DECIMAL}, #{deptCode,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, 
      #{deptAllname,jdbcType=VARCHAR}, #{deptSeal,jdbcType=VARCHAR}, #{deptAuthority,jdbcType=VARCHAR}, 
      #{deptLevel,jdbcType=CHAR}, #{deptHead,jdbcType=VARCHAR}, #{deptReat,jdbcType=VARCHAR}, 
      #{deptTel,jdbcType=VARCHAR}, #{deptFax,jdbcType=VARCHAR}, #{deptAddr,jdbcType=VARCHAR}, 
      #{deptSuperior,jdbcType=DECIMAL}, #{sydtPk,jdbcType=DECIMAL}, #{deptSimpSpell,jdbcType=CHAR}, 
      #{tbekPk,jdbcType=DECIMAL}, #{mapId,jdbcType=DECIMAL}, #{deptFlag,jdbcType=CHAR}, 
      #{tbekCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.SysDepartInfo">
    insert into SYS_DEPART_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deptPk != null">
        DEPT_PK,
      </if>
      <if test="deptCode != null">
        DEPT_CODE,
      </if>
      <if test="deptName != null">
        DEPT_NAME,
      </if>
      <if test="deptAllname != null">
        DEPT_ALLNAME,
      </if>
      <if test="deptSeal != null">
        DEPT_SEAL,
      </if>
      <if test="deptAuthority != null">
        DEPT_AUTHORITY,
      </if>
      <if test="deptLevel != null">
        DEPT_LEVEL,
      </if>
      <if test="deptHead != null">
        DEPT_HEAD,
      </if>
      <if test="deptReat != null">
        DEPT_REAT,
      </if>
      <if test="deptTel != null">
        DEPT_TEL,
      </if>
      <if test="deptFax != null">
        DEPT_FAX,
      </if>
      <if test="deptAddr != null">
        DEPT_ADDR,
      </if>
      <if test="deptSuperior != null">
        DEPT_SUPERIOR,
      </if>
      <if test="sydtPk != null">
        SYDT_PK,
      </if>
      <if test="deptSimpSpell != null">
        DEPT_SIMP_SPELL,
      </if>
      <if test="tbekPk != null">
        TBEK_PK,
      </if>
      <if test="mapId != null">
        MAP_ID,
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG,
      </if>
      <if test="tbekCode != null">
        TBEK_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deptPk != null">
        #{deptPk,jdbcType=DECIMAL},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptAllname != null">
        #{deptAllname,jdbcType=VARCHAR},
      </if>
      <if test="deptSeal != null">
        #{deptSeal,jdbcType=VARCHAR},
      </if>
      <if test="deptAuthority != null">
        #{deptAuthority,jdbcType=VARCHAR},
      </if>
      <if test="deptLevel != null">
        #{deptLevel,jdbcType=CHAR},
      </if>
      <if test="deptHead != null">
        #{deptHead,jdbcType=VARCHAR},
      </if>
      <if test="deptReat != null">
        #{deptReat,jdbcType=VARCHAR},
      </if>
      <if test="deptTel != null">
        #{deptTel,jdbcType=VARCHAR},
      </if>
      <if test="deptFax != null">
        #{deptFax,jdbcType=VARCHAR},
      </if>
      <if test="deptAddr != null">
        #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptSuperior != null">
        #{deptSuperior,jdbcType=DECIMAL},
      </if>
      <if test="sydtPk != null">
        #{sydtPk,jdbcType=DECIMAL},
      </if>
      <if test="deptSimpSpell != null">
        #{deptSimpSpell,jdbcType=CHAR},
      </if>
      <if test="tbekPk != null">
        #{tbekPk,jdbcType=DECIMAL},
      </if>
      <if test="mapId != null">
        #{mapId,jdbcType=DECIMAL},
      </if>
      <if test="deptFlag != null">
        #{deptFlag,jdbcType=CHAR},
      </if>
      <if test="tbekCode != null">
        #{tbekCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sbzc.model.SysDepartInfo">
    update SYS_DEPART_INFO
    <set>
      <if test="deptCode != null">
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptAllname != null">
        DEPT_ALLNAME = #{deptAllname,jdbcType=VARCHAR},
      </if>
      <if test="deptSeal != null">
        DEPT_SEAL = #{deptSeal,jdbcType=VARCHAR},
      </if>
      <if test="deptAuthority != null">
        DEPT_AUTHORITY = #{deptAuthority,jdbcType=VARCHAR},
      </if>
      <if test="deptLevel != null">
        DEPT_LEVEL = #{deptLevel,jdbcType=CHAR},
      </if>
      <if test="deptHead != null">
        DEPT_HEAD = #{deptHead,jdbcType=VARCHAR},
      </if>
      <if test="deptReat != null">
        DEPT_REAT = #{deptReat,jdbcType=VARCHAR},
      </if>
      <if test="deptTel != null">
        DEPT_TEL = #{deptTel,jdbcType=VARCHAR},
      </if>
      <if test="deptFax != null">
        DEPT_FAX = #{deptFax,jdbcType=VARCHAR},
      </if>
      <if test="deptAddr != null">
        DEPT_ADDR = #{deptAddr,jdbcType=VARCHAR},
      </if>
      <if test="deptSuperior != null">
        DEPT_SUPERIOR = #{deptSuperior,jdbcType=DECIMAL},
      </if>
      <if test="sydtPk != null">
        SYDT_PK = #{sydtPk,jdbcType=DECIMAL},
      </if>
      <if test="deptSimpSpell != null">
        DEPT_SIMP_SPELL = #{deptSimpSpell,jdbcType=CHAR},
      </if>
      <if test="tbekPk != null">
        TBEK_PK = #{tbekPk,jdbcType=DECIMAL},
      </if>
      <if test="mapId != null">
        MAP_ID = #{mapId,jdbcType=DECIMAL},
      </if>
      <if test="deptFlag != null">
        DEPT_FLAG = #{deptFlag,jdbcType=CHAR},
      </if>
      <if test="tbekCode != null">
        TBEK_CODE = #{tbekCode,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sbzc.model.SysDepartInfo">
    update SYS_DEPART_INFO
    set DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DEPT_ALLNAME = #{deptAllname,jdbcType=VARCHAR},
      DEPT_SEAL = #{deptSeal,jdbcType=VARCHAR},
      DEPT_AUTHORITY = #{deptAuthority,jdbcType=VARCHAR},
      DEPT_LEVEL = #{deptLevel,jdbcType=CHAR},
      DEPT_HEAD = #{deptHead,jdbcType=VARCHAR},
      DEPT_REAT = #{deptReat,jdbcType=VARCHAR},
      DEPT_TEL = #{deptTel,jdbcType=VARCHAR},
      DEPT_FAX = #{deptFax,jdbcType=VARCHAR},
      DEPT_ADDR = #{deptAddr,jdbcType=VARCHAR},
      DEPT_SUPERIOR = #{deptSuperior,jdbcType=DECIMAL},
      SYDT_PK = #{sydtPk,jdbcType=DECIMAL},
      DEPT_SIMP_SPELL = #{deptSimpSpell,jdbcType=CHAR},
      TBEK_PK = #{tbekPk,jdbcType=DECIMAL},
      MAP_ID = #{mapId,jdbcType=DECIMAL},
      DEPT_FLAG = #{deptFlag,jdbcType=CHAR},
      TBEK_CODE = #{tbekCode,jdbcType=VARCHAR}
    where DEPT_PK = #{deptPk,jdbcType=DECIMAL}
  </update>
</mapper>