<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.ZhddMissionGradeMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.ZhddMissionGrade" >
    <result column="PK_ID" property="pkId" jdbcType="DECIMAL" />
    <result column="GRADE_NAME" property="gradeName" jdbcType="VARCHAR" />
    <result column="MISSION_DESCRIBE" property="missionDescribe" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.sbzc.model.ZhddMissionGrade" >
    insert into ZHDD_MISSION_GRADE (PK_ID, GRADE_NAME, MISSION_DESCRIBE
      )
    values (#{pkId,jdbcType=DECIMAL}, #{gradeName,jdbcType=VARCHAR}, #{missionDescribe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.ZhddMissionGrade" >
    insert into ZHDD_MISSION_GRADE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="gradeName != null" >
        GRADE_NAME,
      </if>
      <if test="missionDescribe != null" >
        MISSION_DESCRIBE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=DECIMAL},
      </if>
      <if test="gradeName != null" >
        #{gradeName,jdbcType=VARCHAR},
      </if>
      <if test="missionDescribe != null" >
        #{missionDescribe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>