<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sbzc.mappers.ZhddMissionRouteMapper" >
  <resultMap id="BaseResultMap" type="com.sbzc.model.ZhddMissionRoute" >
    <result column="PK_ID" property="pkId" jdbcType="DECIMAL" />
    <result column="FK_MISSION_ID" property="fkMissionId" jdbcType="DECIMAL" />
    <result column="S_LONGITUDE" property="sLongitude" jdbcType="DECIMAL" />
    <result column="S_LATITUDE" property="sLatitude" jdbcType="DECIMAL" />
    <result column="E_LONGITUDE" property="eLongitude" jdbcType="DECIMAL" />
    <result column="E_LATITUDE" property="eLatitude" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sbzc.model.ZhddMissionRoute" extends="BaseResultMap" >
    <result column="ROUTE_LINE" property="routeLine" jdbcType="CLOB" />
  </resultMap>
  <sql id="Blob_Column_List" >
    ROUTE_LINE
  </sql>
  <insert id="insert" parameterType="com.sbzc.model.ZhddMissionRoute" >
    insert into ZHDD_MISSION_ROUTE (PK_ID, FK_MISSION_ID, S_LONGITUDE, 
      S_LATITUDE, E_LONGITUDE, E_LATITUDE, 
      ROUTE_LINE)
    values (#{pkId,jdbcType=DECIMAL}, #{fkMissionId,jdbcType=DECIMAL}, #{sLongitude,jdbcType=DECIMAL}, 
      #{sLatitude,jdbcType=DECIMAL}, #{eLongitude,jdbcType=DECIMAL}, #{eLatitude,jdbcType=DECIMAL}, 
      #{routeLine,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.sbzc.model.ZhddMissionRoute" >
    insert into ZHDD_MISSION_ROUTE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        PK_ID,
      </if>
      <if test="fkMissionId != null" >
        FK_MISSION_ID,
      </if>
      <if test="sLongitude != null" >
        S_LONGITUDE,
      </if>
      <if test="sLatitude != null" >
        S_LATITUDE,
      </if>
      <if test="eLongitude != null" >
        E_LONGITUDE,
      </if>
      <if test="eLatitude != null" >
        E_LATITUDE,
      </if>
      <if test="routeLine != null" >
        ROUTE_LINE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkId != null" >
        #{pkId,jdbcType=DECIMAL},
      </if>
      <if test="fkMissionId != null" >
        #{fkMissionId,jdbcType=DECIMAL},
      </if>
      <if test="sLongitude != null" >
        #{sLongitude,jdbcType=DECIMAL},
      </if>
      <if test="sLatitude != null" >
        #{sLatitude,jdbcType=DECIMAL},
      </if>
      <if test="eLongitude != null" >
        #{eLongitude,jdbcType=DECIMAL},
      </if>
      <if test="eLatitude != null" >
        #{eLatitude,jdbcType=DECIMAL},
      </if>
      <if test="routeLine != null" >
        #{routeLine,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
</mapper>