<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.interfacecheck.mapper.InterCheckMapper" >
 
   <select id="list" resultType="com.cist.interfaceapply.model.SjgxInterfaceUseApply" parameterType="java.util.HashMap" >
    select t.* ,t2.dev_name dev_company_name,t2.interface_id interface_id_str,t2.dev_company_id dev_company_id_str
    from SJGX_INTERFACE_USE_APPLY t
    right join (select t1.fk_use_apply_id fk_use_apply_id, listagg(t1.dev_company_name,'、') within group(order by t1.dev_company_name)dev_name
    ,listagg(t1.interface_id,',') within group(order by t1.interface_id)interface_id
    ,listagg(t1.dev_company_id,',') within group(order by t1.dev_company_id)dev_company_id
    from cistsys.sjgx_interface_list t1 
    where t1.fk_use_apply_id is not null
    <if test="dev_company_id !=null and dev_company_id !=''">
	and  t1.dev_company_id =#{dev_company_id}
	</if> 
	 group by t1.fk_use_apply_id)t2
    on t.pk_id=t2.fk_use_apply_id
    <where>
	<if test="fk_used_id !=null and fk_used_id !='' and fk_used_id !='null'">
		and fk_used_id=#{fk_used_id}
	</if>
	<if test="start_date !=null and start_date !='' and start_date !='null'">
          <![CDATA[ and start_date >=to_date(#{start_date},'yyyy-mm-dd HH24:mi:ss')]]>
	</if>
	<if test="end_date !=null and end_date !='' and end_date !='null'">
          <![CDATA[ and end_date >=to_date(#{end_date},'yyyy-mm-dd HH24:mi:ss')]]>
	</if> 

	<!-- <if test="dev_company_id !=null and dev_company_id !=''">
      and 
      PK_ID in (select FK_USE_APPLY_ID from SJGX_INTERFACE_LIST where DEV_COMPANY_ID=#{dev_company_id})
       regexp_like(dev_company_id,'^'||#{dev_company_id}||'$|^'||#{dev_company_id}||'+|,+'||#{dev_company_id}||',+|,+'||#{dev_company_id}||'$') 
	</if>  -->
	and check_status='0'
    </where>
  </select>
  <update id="pass" parameterType="com.cist.interfaceapply.model.SjgxInterfaceUseApply" >
    update SJGX_INTERFACE_USE_APPLY
    <set >
      <if test="check_reviewer_id !=null and check_reviewer_id !=''">
          check_reviewer_id=#{check_reviewer_id},
          </if>   
           <if test="license_code !=null and license_code !=''">
           license_code=#{license_code},
          </if> 
          check_status='1'
    </set>
    where PK_ID = #{pk_id}
  </update>
  
  <update id="notPass" parameterType="com.cist.interfaceapply.model.SjgxInterfaceUseApply" >
    update SJGX_INTERFACE_USE_APPLY
    <set >
      <if test="check_reviewer_id !=null and check_reviewer_id !=''">
          check_reviewer_id=#{check_reviewer_id},
          </if>   
           <if test="license_code !=null and license_code !=''">
           license_code=#{license_code},
          </if> 
          check_status='-1'
    </set>
    where PK_ID = #{pk_id}
  </update>
</mapper>