<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.pddwzb.mapper.DeptMapper">

<!-- 查询所有单位指标 -->
	<select id="selectDeptAll" resultType="com.cist.pdgrzb.model.Qw_I_C_Metricr"
		parameterType="java.util.HashMap">
select r.FK_DEPT_ID,r.EVALUATE_DATE_TYPE,r.FK_USER_ID,
wmsys.wm_concat(r.metrics_num) allsocre,r.dept_name,wmsys.wm_concat(r.fk_topic_id) topicids,r.evaluate_date_end,r.pk_id,r.remarks from (select t.FK_DEPT_ID,t.EVALUATE_DATE_TYPE,t.FK_USER_ID,
q.metrics_num,di.dept_name,q.fk_topic_id,t.evaluate_date_end,t.pk_id,t.remarks
 from QW_I_C_METRICS t 
 inner join 
 QW_EVALUATE_METRICS q on t.pk_id=q.fk_relation_id
 inner join sys_depart_info di on di.dept_code=t.fk_user_id and t.METRICS_TYPE=2) r
 <where>
			<if test="fk_dept_id !=null and fk_dept_id !=''">
				and r.FK_DEPT_ID=#{fk_dept_id}
			</if>
			<!-- 当前人的部门 -->
			<if test="fk_user_id != null and fk_user_id !=''">
				and r.FK_USER_ID=#{fk_user_id}
			</if>
			<if test="evaluate_date_type !=null and evaluate_date_type !=''">
				and r.EVALUATE_DATE_TYPE=#{evaluate_date_type}
			</if>
		</where>
  group by r.fk_dept_id,r.evaluate_date_type,r.fk_user_id,r.dept_name,r.evaluate_date_end,r.pk_id,r.remarks
		
	</select>
	<!-- 查询所有栏目 -->
	 <select id="selectTopic" resultType="com.cist.khpdgl.model.Qw_AppraiseTopic" parameterType="java.util.HashMap">
	select * from qw_appraise_topic t
	<if test="pk_id != null and pk_id != ''">
	    t.pk_id=#{pk_id}
	</if>
</select>
<!-- 查询所关联的所有栏目 -->
<select id="selectTopicById" resultType="com.cist.pddwzb.model.NameAndSocre" parameterType="java.util.HashMap">
	select t.pk_id,t.TOPIC_NAME topic_name,t.DEFAULT_VALUE from qw_appraise_topic t where t.pk_id in
	<foreach item="id" index="index" collection="ids" open="(" separator="," close=")"> 
   	 	#{id} 
	</foreach> 
</select>

	<!-- 更新单位指标 -->
	<update id="updateDept" parameterType="java.util.HashMap">
		update QW_I_C_METRICS
		<set>
				EVALUATE_DATE_START = sysdate,
			<if test="evaluate_date_end != null and evaluate_date_end !=''">
				EVALUATE_DATE_END = to_date(#{evaluate_date_end},'yyyy-mm-dd HH24:mi:ss'),
			</if>
			<if test="remarks != null and remarks !=''">
				REMARKS = #{remarks},
			</if>
			<if test="evaluate_date_type != null and evaluate_date_type !=''">
				EVALUATE_DATE_TYPE = #{evaluate_date_type},
			</if>
		</set>
		where pk_id = #{pk_id}
	</update>


	<insert id="insertDept" parameterType="java.util.HashMap">
		<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="pk_id">
	        SELECT cistsys.SEQ_TXZ_PERMIT.nextval FROM DUAL
	    </selectKey>
		insert into
		QW_I_C_METRICS
		(
		pk_id,
		fk_user_id,
		fk_dept_id,
		metrics_type,
		evaluate_date_type,
		evaluate_date_start,
		evaluate_date_end,
		remarks
		
		)
		values
		(
		#{pk_id},
		#{fk_user_id},
		#{fk_dept_id},
		#{metrics_type},
		#{evaluate_date_type},
		to_date(#{evaluate_date_start},'yyyy-mm-dd HH24:mi:ss'),
		to_date(#{evaluate_date_end},'yyyy-mm-dd HH24:mi:ss'),
		#{remarks}

		)

	</insert>
	<!-- 查询刚插入数据的pk_id -->
	<select id="selectMetricsId" resultType="java.lang.Integer" parameterType="java.util.HashMap">
		select t.pk_id from QW_I_C_METRICS t
		<where>
			<if test="evaluate_date_start != null and evaluate_date_start != ''">
			    t.evaluate_date_start=to_date(#{evaluate_date_start},'yyyy-mm-dd HH24:mi:ss')
			</if>
		</where>
	</select>
	<!-- 添加评价指标 -->
	<insert id="insertZb" parameterType="java.util.HashMap">
		insert into
		QW_EVALUATE_METRICS
		(
		pk_id,
		FK_RELATION_ID,
		FK_TOPIC_ID,
		METRICS_NUM
		)
		values
		(
		cistsys.SEQ_TXZ_PERMIT.nextval,
		#{FK_RELATION_ID},
		#{FK_TOPIC_ID},
		#{METRICS_NUM}
		)

	</insert>


	<!-- 删除单位指标 -->
	<delete id="deleteDept" parameterType="java.util.HashMap">
		DELETE FROM
		QW_I_C_METRICS
		WHERE pk_id = #{pk_id}
	</delete>
	<!-- 删除评价指标 -->
	<delete id="deleteMetrics" parameterType="java.util.HashMap">
		DELETE FROM
		QW_EVALUATE_METRICS
		WHERE FK_RELATION_ID = #{pk_id}
	</delete>

	<!-- 批量删除单位指标 -->
	<delete id="deleteDeptAll" parameterType="java.util.HashMap">
		delete FROM QW_I_C_METRICS
		WHERE pk_id in
		<foreach item="pk" collection="pks" open="(" separator=","
			close=")">
			#{pk}
		</foreach>
	</delete>

	<!-- 批量删除评价指标 -->
	<delete id="deleteMetricsAll" parameterType="java.util.HashMap">
		delete FROM QW_EVALUATE_METRICS
		WHERE FK_RELATION_ID in
		<foreach item="pk" collection="pks" open="(" separator=","
			close=")">
			#{pk}
		</foreach>
	</delete>


	 <select id="depart_infolist" resultType="com.cist.pdgrzb.model.Depart_info" parameterType="java.lang.Integer">

select t.dept_pk,t.dept_code,t.dept_name as name,t.DEPT_SUPERIOR from sys_depart_info t 
<where>
		  <if test="_parameter  == null or _parameter  == ''">
		     t.DEPT_SUPERIOR is null
		   </if>
		     <if test="_parameter  != null and _parameter  != ''">
		     t.DEPT_SUPERIOR=#{_parameter}
		   </if>
</where>

   </select>
   
   
 <select id="depart_infolists" resultType="com.cist.pdgrzb.model.DeptInfo" parameterType="java.lang.Integer">
select t.dept_pk,t.dept_code,t.dept_name as name,t.DEPT_SUPERIOR from sys_depart_info t 
<where>
		  <if test="_parameter  == null or _parameter  == ''">
		     t.DEPT_SUPERIOR is null
		   </if>
		     <if test="_parameter  != null and _parameter  != ''">
		     t.DEPT_SUPERIOR=#{_parameter}
		   </if>
</where>
</select>
 
 


</mapper>