<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.deptduty.mapper.DeptDutyMapper" >
<select id="deptdutyInfopageList" resultType="com.cist.duty.model.DutyInfo" parameterType="java.util.HashMap">
   select rownum as pm,p.* from 
   		(select t.dept_name as sypi_dept_name,t.dept_head,t.dept_pk,
			case when c.eva_num is null then 0 else c.eva_num end as eva_num,
			case when j.zf is null then 
		(select lmfz from SYS_RULE_MANAGER 
		<where>
			<if test="sjlm !=null and sjlm !=''">
  				pk=#{sjlm}
  			</if>
		</where>
		) else j.zf end as zf,
			case when 
			(case when j.zf is null then 
				(select lmfz from SYS_RULE_MANAGER 
					<where>
						<if test="sjlm !=null and sjlm !=''">
							pk=#{sjlm}
						</if>
					</where>
			) else j.zf end) >= (case when c.eva_num is null then 0 else c.eva_num end) then '合格' else '不合格' end as hg
			from SYS_DEPART_INFO t LEFT OUTER JOIN SYS_ASSESS_TARGET c on  t.dept_pk=c.sypi_pk left join
			(select (select lmfz from SYS_RULE_MANAGER 
				<where>
					<if test="sjlm !=null and sjlm !=''">
						pk=#{sjlm}
					</if>
				</where>
					)+sum(v.tlfz) as zf,
					t.ssdw from SYS_DUTY_ASSESSMENT t,SYS_RULE_MANAGER v 
				<where>
					t.khtl=v.pk 
						<if test="sjlm !=null and sjlm !=''">
							and v.sjlm=#{sjlm}
						</if>
				</where>
					group by t.ssdw) j
						on  j.ssdw = t.dept_pk 
				
				ORDER BY hg DESC,zf DESC) p   
				<where>
				1=1
				<if test="zbhg==1" >
	    			and  p.hg = '合格'
	    		</if>
	    		<if test="zbhg==2" >
	    			and  p.hg = '不合格'
	    		</if>
				</where>
   		</select>
   		
   		<select id="infolist" resultType="com.cist.duty.model.Rule_info">
     	 select t.lmmc,t.pk from SYS_RULE_MANAGER t where t.sjlm is null and t.lmlx = 2
   	</select>
   	
   	<select id="rulelist" resultType="com.cist.duty.model.Rule_info" parameterType="java.util.HashMap">
     	 select t.tlmc,t.pk from SYS_RULE_MANAGER t 
     	 <where>
     	 <if test="sjlm !=null and sjlm !=''">
  				t.sjlm=#{sjlm}
  		 </if>
     	 </where>
   	</select>
   	
   	<select id="tllist" resultType="com.cist.duty.model.TlInfo" parameterType="java.util.HashMap">
     	select
 g.tlmc,
 case when j.tlfz is null then 0 else j.tlfz end as tlfz,
   case when j.ssdw is null then to_char(#{ssdw}) else j.ssdw end as ssdw
     from 
     (
     select t.tlmc,t.pk from SYS_RULE_MANAGER t 
    <where>
    <if test="sjlm !=null and sjlm !=''">
	    t.sjlm = #{sjlm}
	</if>
    </where>
     ) g 
     LEFT OUTER JOIN 
     (
     select t.pk,sum(t.tlfz) as tlfz,c.ssdw from SYS_RULE_MANAGER t,SYS_DUTY_ASSESSMENT c 
     <where>
     t.pk = c.khtl
    <if test="ssdw !=null and ssdw !=''">
	    and c.ssdw= #{ssdw}
	</if>
    </where>
     group by t.pk,c.ssdw
     ) j on g.pk = j.pk
   	</select>
   	
   	<select id="deptdutyInfo" resultType="com.cist.duty.model.DutyInfo" parameterType="java.util.HashMap">
   select rownum as pm,p.* from 
   		(select t.dept_name as sypi_dept_name,t.dept_head,t.dept_pk,
			case when c.eva_num is null then 0 else c.eva_num end as eva_num,
			case when j.zf is null then 
		(select lmfz from SYS_RULE_MANAGER 
		<where>
			<if test="sjlm !=null and sjlm !=''">
  				pk=#{sjlm}
  			</if>
		</where>
		) else j.zf end as zf,
			case when 
			(case when j.zf is null then 
				(select lmfz from SYS_RULE_MANAGER 
					<where>
						<if test="sjlm !=null and sjlm !=''">
							pk=#{sjlm}
						</if>
					</where>
			) else j.zf end) >= (case when c.eva_num is null then 0 else c.eva_num end) then '合格' else '不合格' end as hg
			from SYS_DEPART_INFO t LEFT OUTER JOIN SYS_ASSESS_TARGET c on  t.dept_pk=c.sypi_pk left join
			(select (select lmfz from SYS_RULE_MANAGER 
				<where>
					<if test="sjlm !=null and sjlm !=''">
						pk=#{sjlm}
					</if>
				</where>
					)+sum(v.tlfz) as zf,
					t.ssdw from SYS_DUTY_ASSESSMENT t,SYS_RULE_MANAGER v 
				<where>
					t.khtl=v.pk 
						<if test="sjlm !=null and sjlm !=''">
							and v.sjlm=#{sjlm}
						</if>
				</where>
					group by t.ssdw) j
						on  j.ssdw = t.dept_pk 
				
				ORDER BY hg DESC,zf DESC) p   
				<where>
				1=1
				<if test="zbhg==1" >
	    			and  p.hg = '合格'
	    		</if>
	    		<if test="zbhg==2" >
	    			and  p.hg = '不合格'
	    		</if>
				</where>
   		</select>
   		
   		<select id="hgecharts" resultType="com.cist.duty.model.EchartsInfo" parameterType="java.util.HashMap">
	select l.hg,o.bhg from
	(select  count(*) as hg from 
	SYS_DEPART_INFO t LEFT OUTER JOIN 
	(select *from SYS_ASSESS_TARGET
	<where>
	<if test="sjlm !=null and sjlm !=''">
		col_pk=#{sjlm}
	</if>
	</where>
	) c on t.dept_pk=c.sypi_pk left join
	(select 
	(select lmfz from SYS_RULE_MANAGER 
	<where>
 		<if test="sjlm!=null and sjlm!='' ">
		 pk=#{sjlm}
  		</if>
 	</where>
	)+sum(v.tlfz) as zf,t.ssdw from SYS_DUTY_ASSESSMENT t,SYS_RULE_MANAGER v 
	<where>
		t.khtl=v.pk
 		<if test="sjlm!=null and sjlm!='' ">
		 and v.sjlm=#{sjlm}
  		</if>
 	</where>
	group by t.ssdw) j
	on  j.ssdw = t.dept_pk 
	<where>
	(case when j.zf is null then (select lmfz from SYS_RULE_MANAGER 
	<where>
	<if test="sjlm!=null and sjlm!='' ">
	pk=#{sjlm}
	</if>
	</where>
	) else j.zf end) >= (case when c.eva_num is null then 0 else c.eva_num end)
	</where>
	) l,
	(select  count(*) as bhg from 
	SYS_DEPART_INFO t LEFT OUTER JOIN 
	(select *from SYS_ASSESS_TARGET
	<where>
	<if test="sjlm !=null and sjlm !=''">
		col_pk=#{sjlm}
	</if>
	</where>
	) c on t.dept_pk=c.sypi_pk left join
	(select (select lmfz from SYS_RULE_MANAGER 
	<where>
	<if test="sjlm!=null and sjlm!='' ">
	pk=#{sjlm}
	</if>
	</where>
	)+sum(v.tlfz) as zf,t.ssdw from 
	SYS_DUTY_ASSESSMENT t,SYS_RULE_MANAGER v 
	<where>
	t.khtl=v.pk 
	<if test="sjlm!=null and sjlm!='' ">
	and v.sjlm=#{sjlm}
	</if>
	</where>
	group by t.ssdw) j
	on  j.ssdw = t.dept_pk 
	<where>
	(case when j.zf is null then 
	(select lmfz from SYS_RULE_MANAGER 
	<where>
	<if test="sjlm!=null and sjlm!='' ">
	pk=#{sjlm}
	</if>
	</where>
	) else j.zf end) &lt; (case when c.eva_num is null then 0 else c.eva_num end)
	</where>
	) o
  	</select>
  	
  	<select id="tlecharts" resultType="com.cist.duty.model.EchartsInfo" parameterType="java.util.HashMap">
 		select j.tlmc,case when y.fz is null then 0 else y.fz end as fz from SYS_RULE_MANAGER j LEFT OUTER JOIN (select t.pk,sum(t.tlfz) as fz from SYS_DUTY_ASSESSMENT c,SYS_RULE_MANAGER t 
 		<where>
 		t.pk = c.khtl
 		<if test="sjlm!=null and sjlm!='' ">
   			and t.sjlm=#{sjlm}
  		</if>
 		</where>
 		group by t.pk
 		) y on y.pk = j.pk 
 		<where>
 		j.pdgz = '1'
 		<if test="sjlm!=null and sjlm!='' ">
   			and j.sjlm=#{sjlm}
  		</if>
 		</where>
  	</select>
</mapper>