<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.qwgl.qwjg.mapper.QwjgMapper" >
<select id="selectQw_report" parameterType="java.util.HashMap" resultMap="messageResultMap">
select * from (
select 
(select c.dept_name from SYS_DEPART_INFO c where c.dept_pk=t.FK_DEPT_ID) as dept_name,
(select c.dept_pk from SYS_DEPART_INFO c where c.dept_pk=t.FK_DEPT_ID) as dept_pk,
(select AREA_NAME from QW_REPORT_STREET where FK_REPORT_ID=t.pk_id) as AREA_NAME,
(select FK_PATROL_AREA_ID from QW_REPORT_STREET where FK_REPORT_ID=t.pk_id) as FK_PATROL_AREA_ID,
(select count(*) from QW_REPORT_CAR_PATROL where FK_REPORT_ID=t.pk_id) as jingcheshu,
(select count(*) from QW_REPORT_CAR_RELATION where FK_CAR_PATROL_ID in(select PK_ID from QW_REPORT_CAR_PATROL where FK_REPORT_ID=t.pk_id)) as ren1,
(select count(*) from QW_REPORT_WALK_RELATION where FK_REPORT_ID=t.pk_id) as ren2,
(   select count(*) from QW_GUNS_RELATION where FK_EQUIP_ID in(select pk_id from QW_EQUIP_INFO where FK_REPORT_ID =t.pk_id)) as qiangzhi,
t.* from QW_REPORT t where t.REPORT_TYPE=1  and trunc(t.REPORT_PERIOD_TYPE) = trunc(sysdate)
)t
<where>
			<if test="dept_pk!=null and dept_pk!=''">
				and t.dept_pk=#{dept_pk}
			</if>
			<if test="qiangzhi!=null and qiangzhi!=''">
				and  t.qiangzhi!=0
			</if>
		</where>
</select>
	<resultMap type="com.cist.qwgl.qwbb.model.Qw_report" id="messageResultMap">
	    <id property="pk_id" column="pk_id"/><!-- 勤务报备id -->
	    <association property="qw_report_street" column="pk_id" javaType="com.cist.qwgl.qwbb.model.Qw_report_street"  select="getqw_report_street"/>  
	    <collection property="qw_report_car_patrol" column="pk_id" ofType="com.cist.qwgl.qwbb.model.Qw_report_car_patrol"  select="getQw_report_car_patrolche"/>
     <collection property="qw_report_walk_relation" column="pk_id" ofType="com.cist.qwgl.qwbb.model.Qw_report_walk_relation"  select="Qw_report_walk_relationdata"/>

	</resultMap>
	<!-- 勤务报备9.22.	步巡关联人员报备 一对多 -->
	<select id="Qw_report_walk_relationdata" parameterType="Integer" resultMap="Qw_report_walk_relationuser">
            select * from  QW_REPORT_WALK_RELATION  where  FK_REPORT_ID = #{pk_id}
    </select>
	<resultMap type="com.cist.qwgl.qwbb.model.Qw_report_walk_relation" id="Qw_report_walk_relationuser">
	    <id property="pk_id" column="pk_id"/>
	    <association property="syspoliceinfo" column="fk_user_id" javaType="com.cist.qwgl.qwbb.model.Jcsj_police_res_person"  select="getSyspoliceinforenyuan"/>  
	</resultMap>
	<!-- 勤务报备街面勤务信息 一对一 -->
	<select id="getqw_report_street" parameterType="Integer" resultType="com.cist.qwgl.qwbb.model.Qw_report_street">
            select * from  QW_REPORT_STREET  where  fk_report_id = #{pk_id}
    </select>
    <!-- 勤务报备车巡报备一 -->
	<select id="getQw_report_car_patrolche" parameterType="Integer" resultMap="Qw_report_car_patroldy">
            select * from  QW_REPORT_CAR_PATROL  where  FK_REPORT_ID = #{pk_id}
    </select>
     <resultMap type="com.cist.qwgl.qwbb.model.Qw_report_car_patrol" id="Qw_report_car_patroldy">
	    <id property="pk_id" column="pk_id"/>
	    <association property="jcsjpoliceresources" column="fk_police_car_id" javaType="com.cist.qwgl.qwbb.model.Jcsjpoliceresources"  select="Jcsjpoliceresourcesdtas"/>  
	    <collection property="qw_report_car_relation" column="pk_id" ofType="com.cist.qwgl.qwbb.model.Qw_report_car_relation"  select="Qw_report_car_relationtydta"/>
	</resultMap>
	 <!-- 勤务报备车俩信息一 -->
	<select id="Jcsjpoliceresourcesdtas" parameterType="Integer" resultType="com.cist.qwgl.qwbb.model.Jcsjpoliceresources">
            select * from  JCSJ_POLICE_RESOURCES  where  pk_id = #{fk_police_car_id}
    </select>
    <!-- 车巡关联人员报备 -->
    <select id="Qw_report_car_relationtydta" parameterType="Integer" resultMap="Qw_report_car_relationjj">
            select * from  QW_REPORT_CAR_RELATION  where  FK_CAR_PATROL_ID = #{PK_ID}
    </select>
     <resultMap type="com.cist.qwgl.qwbb.model.Qw_report_car_relation" id="Qw_report_car_relationjj">
	    <id property="pk_id" column="pk_id"/>
	    <association property="syspoliceinfo" column="fk_user_id" javaType="com.cist.qwgl.qwbb.model.Jcsj_police_res_person"  select="getSyspoliceinforenyuan"/>  
	</resultMap>
	 <!-- 车巡关联人员信息 -->
	<select id="getSyspoliceinforenyuan" parameterType="Integer" resultType="com.cist.qwgl.qwbb.model.Jcsj_police_res_person">
          select * from JCSJ_POLICE_RES_PERSON t  where  t.id = #{fk_user_id}
    </select>
    <select id="selectQwpbdata" parameterType="java.util.HashMap" resultMap="Qwpbdatahaha">
    select (select DEPT_NAME from SYS_DEPART_INFO where  DEPT_PK=h.DEPT_SUPERIOR)  as shangjiname,
      (select count(*) from JCSJ_POLICE_RES_PERSON where glbm =h.fk_dept_id and ryfl!=3) as mingjingcount,
           (select count(*) from JCSJ_POLICE_RES_PERSON where glbm =h.fk_dept_id and ryfl=3) as fujingcount,
    h.* from (
select (select DEPT_SUPERIOR from SYS_DEPART_INFO where  DEPT_PK=t.fk_dept_id) as DEPT_SUPERIOR,(select DEPT_NAME from SYS_DEPART_INFO where  DEPT_PK=t.fk_dept_id) as deptname,t.* from (
 select t.fk_dept_id,count(*) as baobbeicount from  QW_REPORT t  where t.REPORT_TYPE = 1 and trunc(t.REPORT_PERIOD_TYPE) = trunc(sysdate) 
 <if test="fk_dept_idinfo!=null and fk_dept_idinfo!=''">
			  and t.FK_DEPT_ID=#{fk_dept_idinfo}
			</if>
 group by t.fk_dept_id
)t
)h
    </select>
         <resultMap type="com.cist.qwgl.qwbb.model.Qwpbdata" id="Qwpbdatahaha">
	    <id property="fk_dept_id" column="fk_dept_id"/>
	 <collection property="qw_report" column="fk_dept_id" ofType="com.cist.qwgl.qwbb.model.Qw_report"  select="Qw_reportoiz"/>
	</resultMap>
	 <!-- 勤务报备一 -->
	<select id="Qw_reportoiz" parameterType="Integer" resultMap="wodkjjjjnff">
          select * from QW_REPORT t
  left join QW_REPORT_STREET c on c.FK_REPORT_ID=t.PK_ID
   where t.FK_DEPT_ID= #{fk_dept_id} and REPORT_TYPE = 1  and trunc(t.REPORT_PERIOD_TYPE) = trunc(sysdate)
 
   order by c.FK_PATROL_AREA_ID
    </select>
    	<resultMap type="com.cist.qwgl.qwbb.model.Qw_report" id="wodkjjjjnff">
	    <id property="pk_id" column="pk_id"/><!-- 勤务报备id -->
	    <association property="qw_report_street" column="pk_id" javaType="com.cist.qwgl.qwbb.model.Qw_report_street"  select="getqw_report_street"/>  

	</resultMap>
    
    <select id="qwpbdataxunqu" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwbb.model.Qwpbdata">
    select c.fk_patrol_area_id,c.area_name,count(*) as quyucount from QW_REPORT_STREET c
where c.fk_report_id in(select p.pk_id from QW_REPORT p where p.fk_dept_id=#{fk_dept_id} and  p.REPORT_TYPE = 1 and trunc(p.REPORT_PERIOD_TYPE) = trunc(sysdate))
group by c.fk_patrol_area_id,c.area_name
    
    </select>
       <select id="yujingxinx" parameterType="java.util.HashMap" resultMap="qwpatrolalarmlog">
   select * from QW_PATROL_ALARM_LOG where PK in(select min(pk) from QW_PATROL_ALARM_LOG
group by zqr)
   </select>
   <resultMap type="com.cist.qwgl.qwjg.model.Qw_patrol_alarm_log" id="qwpatrolalarmlog">
	    <id property="pk" column="pk"/>
	    <association property="qw_report_street" column="jmqwbbid" javaType="com.cist.qwgl.qwbb.model.Qw_report_street" select="jmqwbbidinfo"/>
	</resultMap>
	   <select id="jmqwbbidinfo" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwbb.model.Qw_report_street">
   select * from QW_REPORT_STREET where FK_REPORT_ID=#{jmqwbbid}
   </select>
   <select id="pageListSyspoliceinfo" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwbb.model.Jcsj_police_res_person">
   select * from JCSJ_POLICE_RES_PERSON t
   <where>
       	<if test="sypi_dept!=null and sypi_dept!=''">
				and t.GLBM=#{sypi_dept}
			</if>
			<if test="sypi_kind!=null and sypi_kind!=''">
				and t.RYFL=#{sypi_kind}
			</if>
			<if test="sypi_name!=null and sypi_name!=''">
				and t.XM like '%'||#{sypi_name}||'%'
			</if>
			<if test="sypi_code!=null and sypi_code!=''">
				and t.RYBH like '%'||#{sypi_code}||'%'
			</if>
   </where>
   </select>
      <select id="pageListJcsj_police_resources" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwjg.model.Jcsj_police_resources">
  	select * from JCSJ_POLICE_RESOURCES t 
       <where>
       	   <if test="resources_type!=null and resources_type!=''">
				and t.resources_type=#{resources_type}
			</if>
			<if test="fk_dept_id!=null and fk_dept_id!=''">
				and t.fk_dept_id=#{fk_dept_id}
			</if>
			<if test="car_num!=null and car_num!=''">
				and t.car_num like '%'||#{car_num}||'%'
			</if>
			<if test="car_brand!=null and car_brand!=''">
				and t.car_brand=#{car_brand}
			</if>
			<if test="car_purpose!=null and car_purpose!=''">
					and t.car_purpose=#{car_purpose}
			</if>
   </where>
   </select>
   <select id="selectjichuxin" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwbb.model.Sysfrmcode">
    select * from SYS_FRM_CODE t where t.fct_code=#{fct_code}
   </select>
   

     
        <select id="jingyuan" parameterType="java.util.HashMap" resultMap="vwpolicegpspisf">
select * from JCSJ_POLICE_RESOURCES c where c.device_code in(select t.device_code from VW_POLICE_GPS t)
   </select>
    <resultMap type="com.cist.qwgl.qwjg.model.Jcsj_police_resources" id="vwpolicegpspisf">
	    <id property="pk_id" column="pk_id"/>
	    <collection property="qw_gps_history" column="device_code" ofType="com.cist.qwgl.qwjg.model.Qw_gps_history" select="sbwybmdatadata"/>
	</resultMap>
  <select id="sbwybmdatadata" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwjg.model.Qw_gps_history">
           select * from QW_GPS_HISTORY t where t.sbwybm=#{device_code}
   </select>
     
	<select id="qwreportjg" parameterType="java.util.HashMap" resultMap="qwreportjgdata">
		select * from QW_REPORT t where t.REPORT_TYPE=1 and trunc(t.REPORT_PERIOD_TYPE)=trunc(sysdate)
   </select>
     <resultMap type="com.cist.qwgl.qwbb.model.Qw_report" id="qwreportjgdata">
	    <id property="pk_id" column="pk_id"/>
	    <association property="qw_report_street" column="pk_id" javaType="com.cist.qwgl.qwbb.model.Qw_report_street" select="qwreportstreetp"/>
	    <collection property="qw_report_car_patrol" column="pk_id" ofType="com.cist.qwgl.qwbb.model.Qw_report_car_patrol" select="qwreportcarpatrole"></collection>
	    <collection property="qw_report_walk_relation" column="pk_id" ofType="com.cist.qwgl.qwbb.model.Qw_report_walk_relation" select="mapqwreportwalkrelation"></collection>
	</resultMap>
	<!-- 步巡人员 -->
	<select id="mapqwreportwalkrelation" parameterType="java.util.HashMap" resultMap="relationrelation">
	select * from QW_REPORT_WALK_RELATION where FK_REPORT_ID=#{pk_id}
	</select>
	 <resultMap type="com.cist.qwgl.qwbb.model.Qw_report_walk_relation" id="relationrelation">
	    <id property="pk_id" column="pk_id"/>
	   <association property="syspoliceinfo" column="fk_user_id" javaType="com.cist.qwgl.qwbb.model.Jcsj_police_res_person"  select="cljingyuanxinxi"/>
	</resultMap>
     <select id="qwreportstreetp" resultType="com.cist.qwgl.qwbb.model.Qw_report_street">
              select * from qw_report_street where fk_report_id=#{pk_id}
     </select>
     <!-- 9.20. 车巡报备 -->
      <select id="qwreportcarpatrole" resultMap="mapQwreportcarpatrol">
              select * from QW_REPORT_CAR_PATROL where fk_report_id=#{pk_id}
     </select>
     
     <resultMap type="com.cist.qwgl.qwbb.model.Qw_report_car_patrol" id="mapQwreportcarpatrol">
	    <id property="pk_id" column="pk_id"/>
	    <association property="jcsj_police_resources" column="fk_police_car_id" javaType="com.cist.qwgl.qwjg.model.Jcsj_police_resources" select="jcsjpoliceresources"></association>
	    <collection property="qw_report_car_relation" column="pk_id" ofType="com.cist.qwgl.qwbb.model.Qw_report_car_relation" select="qwreportcarrelationp"></collection>
	</resultMap>
	
	<!-- 9.21. 车巡关联人员报备 -->
	  <select id="qwreportcarrelationp"  parameterType="java.util.HashMap" resultMap="renyuanxnx">
              select * from QW_REPORT_CAR_RELATION where FK_CAR_PATROL_ID=#{pk_id}
     </select>
       <resultMap type="com.cist.qwgl.qwbb.model.Qw_report_car_relation" id="renyuanxnx">
	    <id property="pk_id" column="pk_id"/>
	   <association property="syspoliceinfo" column="fk_user_id" javaType="com.cist.qwgl.qwbb.model.Jcsj_police_res_person"  select="cljingyuanxinxi"/>
	</resultMap>
	<!-- 获取车俩警员信息 -->
	<select id="cljingyuanxinxi" parameterType="Integer" resultMap="jingyuanzbxinxi">
          select t.*,(select c.dept_name from SYS_DEPART_INFO c where c.dept_code=t.glbm) as dept_name from JCSJ_POLICE_RES_PERSON t  where  t.id = #{fk_user_id}
    </select>
       <resultMap type="com.cist.qwgl.qwbb.model.Jcsj_police_res_person" id="jingyuanzbxinxi">
	    <id property="pk_id" column="pk_id"/>
	    <association property="qw_gps_history" column="rybh" javaType="com.cist.qwgl.qwjg.model.Qw_gps_history" select="rybhdataino"/>
	</resultMap>
    
      <select id="rybhdataino" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwjg.model.Qw_gps_history">
   select * from (
select * from QW_GPS_HISTORY c where c.ywbh=#{rybh} order by c.rksj desc
)y where   rownum=1
</select>
        <!-- gps警车信息  没有坐标编码的不显示--> 
   <select id="jcsjpoliceresources" parameterType="java.util.HashMap" resultMap="pijcsjpoliceresources">
     select (select c.dept_name from SYS_DEPART_INFO c where c.dept_pk=t.fk_dept_id) as dept_name,t.* from  JCSJ_POLICE_RESOURCES t where t.pk_id=#{fk_police_car_id}
   </select>
    <resultMap type="com.cist.qwgl.qwjg.model.Jcsj_police_resources" id="pijcsjpoliceresources">
	    <id property="pk_id" column="pk_id"/>
	    <collection property="qw_gps_history" column="pk_id" ofType="com.cist.qwgl.qwjg.model.Qw_gps_history" select="sbwybmdata"/>
	</resultMap>
  <select id="sbwybmdata" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwjg.model.Qw_gps_history">
           select * from QW_GPS_HISTORY t where t.sbwybm=(select c.DEVICE_CODE from VW_PR_CAR_GPS c where c.PK_ID=#{pk_id})
   </select>
     <!-- gps警车信息 end -->
     <!-- 签到数据 -->
     <select id="qw_sign_in" parameterType="java.util.HashMap" resultType="com.cist.qwgl.qwbb.model.Qw_sign_in">
     select * from qw_sign_in t where t.fk_report_id=#{fk_report_id} and t.fk_sign_in_user_id=#{fk_sign_in_user_id}
     </select>
     
       <select id="qiangzi" parameterType="java.util.HashMap" resultType="int">
    select count(*) from qw_guns_relation t where t.fk_equip_id=(select c.pk_id from QW_EQUIP_INFO c where c.fk_police_team_id=#{fk_report_id}) and t.fk_user_id=#{fk_sign_in_user_id}
     </select>
</mapper>