<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cist.orbit.mapper.OrbitMapper" >

  <!--根据路段代码查询城市道路路口  -->
   <select id="selectLukou" resultType="com.cist.orbit.model.CRoadSegitemInfo" parameterType="java.lang.String">
    select * from C_ROAD_SEGITEM where lkdm=#{lddm}
  </select>
<!--基础代码通用查询  -->
   <select id="selectSysFrmCode" resultType="com.cist.orbit.model.Sys_frm_code" parameterType="java.lang.String">
    select * from SYS_FRM_CODE
    where
    FCT_CODE=#{fct_code}
  </select>
  <!--所属道路查询  -->
   <select id="selectRoadList" resultType="com.cist.orbit.model.C_road_item" parameterType="java.lang.String">
    select * from C_ROAD_ITEM
  </select>
<!-- 根据条件查询返回集合 -->
	<select id="list" resultType="com.cist.orbit.model.TblCarRecoInfo"
		parameterType="java.util.HashMap">
		select * from BSUSER.JCBK_CAR_RECO
		<where>
			<if test=" hpzl != null and hpzl !=''">
				and hpzl = #{hpzl}
			</if>
			<if test=" hphm !=null and hphm !=''">
				and hphm like '%'||#{hphm}||'%'
			</if>

			<if test=" ssdl !=null and ssdl !='' ">
				and ssdl = #{ssdl}
			</if>

			<if test=" sfhbc !=null and sfhbc !='' ">
				and sfhbc = #{sfhbc}
			</if>
			<if test=" sfwxpc !=null and sfwxpc !='' ">
				and sfwxpc = #{sfwxpc}
			</if>
			<if test=" zjsaqdzt !=null and zjsaqdzt !='' ">
				and zjsaqdzt = #{zjsaqdzt}
			</if>
			<if test=" fjsaqdzt !=null and fjsaqdzt !=''">
				and fjsaqdzt = #{fjsaqdzt}
			</if>
			<if test=" sfddh !=null and sfddh !='' ">
				and sfddh = #{sfddh}
			</if>

			<if test=" kssj !=null and kssj !='' and kssj != 'null'">
		    <![CDATA[ and jgsj >=to_date(#{kssj},'yyyy-mm-dd HH24:mi:ss')]]>
			</if>
			<if test=" jssj !=null and jssj !='' and jssj !='null'">
		    <![CDATA[and jgsj <= to_date(#{jssj},'yyyy-mm-dd HH24:mi:ss') ]]>
			</if>
			<if test="list!=null">
				and SBBH in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>

			</if>
			<if test="crossroads!=null and crossroads.size()>0">
				and kkbh in
				<foreach collection="crossroads" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>

			</if>
		</where>
		order by jgsj desc
	</select>
   
      <select id="depart_infolist" resultType="com.cist.orbit.model.Depart_info" parameterType="java.lang.Integer">
select t.dept_pk,t.dept_code,t.dept_name as name,t.DEPT_SUPERIOR from sys_depart_info t 
<where>
		  <if test="_parameter  == null or _parameter  == ''">
		     t.DEPT_SUPERIOR is null
		   </if>
		     <if test="_parameter  != null and _parameter  != ''">
		     t.DEPT_SUPERIOR=#{_parameter}
		   </if>
</where>
   </select>
   
   	<select id="clickdepartinfo" resultType="com.cist.orbit.model.Depart_info" parameterType="string">
	select t.ROIM_CODE as tbec_kkbh ,t.roim_name as tbei_name from C_ROAD_ITEM t where t.dept_code in (select t.dept_code from SYS_DEPART_INFO t where t.dept_pk=#{dept_pk})
	</select>
	<select id="kakou" resultType="com.cist.orbit.model.Depart_info" parameterType="string">
	    select t.DEVICE_NUM as Tbec_kkbh,t.DEVICE_NAME as tbei_name from JCSJ_DEVICE t where t.belonged_road_id=#{tbec_kkbh}
	</select>
	<select id="yijicdepartinfo" resultType="com.cist.orbit.model.Depart_info" parameterType="java.util.HashMap">
		         select t.ROIM_CODE as tbec_kkbh ,t.roim_name as tbei_name from C_ROAD_ITEM t where t.roim_code in (
select t.belonged_road_id from JCSJ_DEVICE t where t.device_num in
<foreach item="w" collection="dept_pk" open="(" separator="," close=")">
		            #{w}
		        </foreach>
group by t.belonged_road_id
 )
	</select>
		<select id="kakouxiabu" resultType="com.cist.orbit.model.Depart_info" parameterType="java.util.HashMap">
	      select t.DEVICE_NUM as Tbec_kkbh,t.DEVICE_NAME as tbei_name from JCSJ_DEVICE t where 
	      t.belonged_road_id=#{tbec_kkbh} and
	      t.DEVICE_NUM in
	      <foreach item="w" collection="dept_pk" open="(" separator="," close=")">
		            #{w}
		        </foreach>
	</select>
	
			<!-- 行政区划Tree查询 -->
	<select id="queryAdministrativeAreas1"
		parameterType="java.util.HashMap"
		resultType="com.cist.orbit.model.RoadTree">
		select t.tbek_pk pk,t.tbek_code key,t.tbek_name title,t.tbek_parent
		parent_pk from C_KREIS_CODE t  where 1=1
			
			<if test="tbek_code !=null and tbek_code !=''">
				and t.tbek_code=#{tbek_code}
			</if>
			<if test="tbek_code ==null">
				<if test="parent_pk !=null and parent_pk !=''">
				and t.tbek_parent=#{parent_pk}
			</if>
			<if test="parent_pk ==null">
				and t.TBEK_PARENT is null
			</if>
			</if>
	</select>
	
		<!-- 查询所有道路 -->
	<select id="queryAllRoad"
		resultType="com.cist.orbit.model.RoadTree" parameterType="java.util.HashMap">
		select ROIM_CODE key,roim_name title,roim_type road_type
		from C_ROAD_ITEM  where 1=1
		<if test="tbek_code !=null and tbek_code !=''">
		and instr(tbek_code,#{tbek_code})>0
		</if>
		<if test="dept_code !=null and dept_code !=''">
		and dept_code=#{dept_code}
		</if>
	</select>
	<!-- 根据道路code查询路口路段 -->
	<select id="queryRoadSegiteByRoadCode"
		parameterType="java.util.HashMap"
		resultType="com.cist.orbit.model.RoadTree">
		select s.DEVICE_NUM key,s.DEVICE_NAME title from JCSJ_DEVICE
		s where s.BELONGED_ROAD_ID=#{code}
		and fk_device_type='KK'
	</select>
</mapper>