<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.cist.assessStatisticalRelease.assessTotalityAnalysis.mapper.AssessTotalityAnalysisMapper">
	<!-- 查询符合条件的栏目信息 -->
	<select id="queryUserTopic"
		resultType="com.cist.assessStatisticalRelease.assessTotalityAnalysis.model.UserTopic"
		parameterType="java.util.HashMap">
		
		select
		icm.FK_USER_ID,em.FK_TOPIC_ID,t.topic_name
		fk_topic_name
		from
		QW_I_C_METRICS
		icm
		left join
		QW_EVALUATE_METRICS em
		on
		icm.pk_id=em.fk_relation_id left join QW_APPRAISE_TOPIC t on
		t.pk_id=em.FK_TOPIC_ID

		<if
			test="fk_dept_id !=null and fk_dept_id !='' and metrics_type==1">
			left join sys_police_info s
			on
			s.sypi_pk=icm.fk_user_id left join sys_depart_info d on s.sypi_dept=d.dept_pk
		</if>
		where
		icm.METRICS_TYPE=#{metrics_type}
	<!-- 	<if test="evaluate_date_type !=null and evaluate_date_type !=''">
			and icm.evaluate_date_type=#{evaluate_date_type}
		</if> -->
		<if test="start_time !=null and start_time !=''">
			and icm.evaluate_date_start &gt;=
			to_date(#{start_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if test="end_time !=null and end_time !=''">
			and icm.evaluate_date_end &lt;=
			to_date(#{end_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if
			test="fk_dept_id !=null and fk_dept_id !='' and metrics_type==1">
			and d.dept_code =#{fk_dept_id}
		</if>
		<if
			test="fk_dept_id !=null and fk_dept_id !='' and metrics_type==2">
			and icm.fk_user_id =#{fk_dept_id}
		</if>
	</select>

	<select id="queryTotalScore"
		resultType="com.cist.assessStatisticalRelease.assessTotalityAnalysis.model.TotalScore"
		parameterType="java.util.HashMap">
<if test="evaluate_date_type !=null and evaluate_date_type !=''">
select a.* from 
  (
</if>
		select v.fk_user_id,s.sypi_name fk_user_name,
		s.sypi_dept
		fk_dept_id,v.evaluate_date_type,v.evaluate_date_start,v.evaluate_date_end,
		sum(v.metrics_num)
		total_indicator_score,sum(v.total_defen)
		total_assess_score,sum(v.total_jf)
		total_add_score,sum(v.total_kf)
		total_buckle_score,
		dense_rank()OVER(ORDER BY
		sum(v.total_defen) desc) as
		total_rank from vm_qwgl_ztfx v left join sys_police_info s
		on
		s.sypi_pk=v.fk_user_id
		<if test="fk_dept_id !=null and fk_dept_id !=''">
			left join sys_depart_info d on s.sypi_dept=d.dept_pk
		</if>
		where 1=1
	<!-- 	<if test="evaluate_date_type !=null and evaluate_date_type !=''">
			and v.evaluate_date_type=#{evaluate_date_type}
		</if> -->
		<if test="start_time !=null and start_time !=''">
			and v.evaluate_date_start &gt;=
			to_date(#{start_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if test="end_time !=null and end_time !=''">
			and v.evaluate_date_end &lt;=
			to_date(#{end_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if test="fk_dept_id !=null and fk_dept_id !=''">
			and d.dept_code =#{fk_dept_id}
		</if>
		group by
		v.fk_user_id,s.sypi_name,s.sypi_dept,v.evaluate_date_type,v.evaluate_date_start,v.evaluate_date_end
		<if test="evaluate_date_type !=null and evaluate_date_type !=''">
) a    where 1=1 
<if test="evaluate_date_type ==0 ">
and a.total_assess_score&lt; a.total_indicator_score
</if>	
<if test="evaluate_date_type ==1 ">
and a.total_assess_score&gt;= a.total_indicator_score
</if>
</if>	
	</select>
	<select id="queryPersonalScore"
		resultType="com.cist.assessStatisticalRelease.assessTotalityAnalysis.model.PersonalScore"
		parameterType="java.util.HashMap">

		select v.fk_user_id,v.fk_topic_id,v.metrics_num
		indicator_score,v.total_defen assess_score from
		vm_qwgl_ztfx v
		<if test="fk_dept_id !=null and fk_dept_id !='' ">
			left join sys_police_info s
			on
			s.sypi_pk=v.fk_user_id left join sys_depart_info d on s.sypi_dept=d.dept_pk
		</if>
		where
		1=1
		<if test="start_time !=null and start_time !=''">
			and v.evaluate_date_start &gt;=
			to_date(#{start_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if test="end_time !=null and end_time !=''">
			and v.evaluate_date_end &lt;=
			to_date(#{end_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if
			test="fk_dept_id !=null and fk_dept_id !='' and metrics_type==1">
			and d.dept_code =#{fk_dept_id}
		</if>
	</select>


	<select id="queryDeptTotalScore"
		resultType="com.cist.assessStatisticalRelease.assessTotalityAnalysis.model.TotalScore"
		parameterType="java.util.HashMap">
<if test="evaluate_date_type !=null and evaluate_date_type !=''">
select a.* from 
  (
</if>
		select v.fk_user_id,
		sum(v.topic_total_jianfen)
		total_buckle_score,
		sum(v.topic_total_jiafen)
		total_add_score,
		sum(v.topic_metrics)
		total_indicator_score,
		sum(v.topic_total_assess)
		total_assess_score,

		RANK()OVER(ORDER BY
		sum(v.topic_total_assess) desc) total_rank,
		v.evaluate_date_type,v.evaluate_date_start,v.evaluate_date_end

		from
		VM_QWGL_DEPT_ANALYZE v
		where 1=1
		<!-- <if test="evaluate_date_type !=null and evaluate_date_type !=''">
			and v.evaluate_date_type=#{evaluate_date_type}
		</if> -->
		<if test="start_time !=null and start_time !=''">
			and v.evaluate_date_start &gt;=
			to_date(#{start_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if test="end_time !=null and end_time !=''">
			and v.evaluate_date_end &lt;=
			to_date(#{end_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if
			test="fk_dept_id !=null and fk_dept_id !='' and metrics_type==2">
			and v.fk_user_id =#{fk_dept_id}
		</if>
		group by
		v.fk_user_id,v.evaluate_date_type,v.evaluate_date_start,v.evaluate_date_end
		<if test="evaluate_date_type !=null and evaluate_date_type !=''">
) a    where 1=1 
<if test="evaluate_date_type ==0 ">
and a.total_assess_score&lt; a.total_indicator_score
</if>	
<if test="evaluate_date_type ==1 ">
and a.total_assess_score&gt;= a.total_indicator_score
</if>
</if>
	</select>

	<select id="queryDeptScore"
		resultType="com.cist.assessStatisticalRelease.assessTotalityAnalysis.model.PersonalScore"
		parameterType="java.util.HashMap">

		select v.fk_user_id,v.fk_topic_id,v.topic_metrics
		indicator_score,v.topic_total_assess assess_score from
		VM_QWGL_DEPT_ANALYZE v
		
		where 1=1
		<if test="start_time !=null and start_time !=''">
			and v.evaluate_date_start &gt;=
			to_date(#{start_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if test="end_time !=null and end_time !=''">
			and v.evaluate_date_end &lt;=
			to_date(#{end_time},'yyyy-mm-dd
			HH24:mi:ss')
		</if>
		<if
			test="fk_dept_id !=null and fk_dept_id !='' and metrics_type==1">
			and v.fk_user_id =#{fk_dept_id}
		</if>
	
	</select>
</mapper>